workflow-blog-seguridad-privada.json
{
  "name": "Paginas Amarillas - Blog Seguridad Privada PRO",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1936, 48],
      "id": "d2cf8198-759c-40a2-8579-786f248ac167",
      "name": "Cada 3 Dias"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1936, 224],
      "id": "3ea6b5f6-94c1-4b47-ac53-eba3120b1973",
      "name": "Ejecucion Manual"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// EMPRESAS DE SEGURIDAD PRIVADA - PAGINAS AMARILLAS MX\n// =====================================================\n\nconst empresas = [\n  {\n    id: 'origins-private-security',\n    nombre: 'ORIGINS Private Security',\n    slug: 'origins-private-security',\n    especialidad: 'Seguridad para Condominios y Corporativos',\n    ubicacion: 'CDMX y Estado de Mexico',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 245,\n    certificaciones: ['SSC', 'GPS 24/7', 'CNSP'],\n    servicios: ['Guardias certificados SSC', 'Monitoreo GPS 24/7', 'Respuesta en menos de 3 minutos', 'Control de accesos', 'Escoltas ejecutivos'],\n    diferenciador: 'Respuesta en menos de 3 minutos con monitoreo GPS en tiempo real',\n    telefono: '+52-55-3025-5580',\n    email: 'contacto@originsecurity.mx',\n    imagen: 'equipo-seguridad-corporativo.webp',\n    keywords: ['seguridad condominios CDMX', 'guardias certificados SSC', 'monitoreo GPS', 'seguridad residencial']\n  },\n  {\n    id: 'seguridad-privada-mx',\n    nombre: 'SeguridadPrivadaMX',\n    slug: 'seguridad-privada-mx',\n    especialidad: 'Seguridad Inteligente para Condominios',\n    ubicacion: 'CDMX - Benito Juarez',\n    experiencia: '10+ anos',\n    rating: 4.9,\n    resenas: 312,\n    certificaciones: ['SSC 100%', 'Tecnologia Propia'],\n    servicios: ['Guardias 100% certificados SSC', 'App movil propia', 'Camaras HD', 'Control de accesos biometrico', 'Precios transparentes'],\n    diferenciador: 'Primera empresa con tecnologia propia y cotizacion en 4 horas',\n    telefono: '+52-55-1234-5678',\n    email: 'contacto@seguridadprivadamx.com',\n    imagen: 'centro-monitoreo-camaras.webp',\n    keywords: ['seguridad inteligente', 'app movil seguridad', 'precios transparentes', 'tecnologia seguridad']\n  },\n  {\n    id: 'sepri',\n    nombre: 'SEPRI Seguridad para Eventos',\n    slug: 'sepri',\n    especialidad: 'Seguridad Privada para Eventos',\n    ubicacion: 'CDMX - Paseo de la Reforma',\n    experiencia: '12+ anos',\n    rating: 4.9,\n    resenas: 48,\n    certificaciones: ['SSC CDMX', 'CNSP', 'Eventos Masivos'],\n    servicios: ['Control de acceso eventos', 'Seguridad VIP', 'Gestion de multitudes', 'Vigilancia 24/7', 'Seguridad corporativa'],\n    diferenciador: 'Especialistas en eventos corporativos, bodas, conciertos y festivales',\n    telefono: '+52-55-4732-9810',\n    email: 'contacto@sepri.mx',\n    imagen: 'grupo-guardias-edificio.webp',\n    keywords: ['seguridad eventos CDMX', 'seguridad bodas', 'seguridad conciertos', 'control acceso eventos']\n  },\n  {\n    id: 'seguridad-condominios',\n    nombre: 'Seguridad Condominios MX',\n    slug: 'seguridad-condominios',\n    especialidad: 'Seguridad Integral para Fraccionamientos',\n    ubicacion: 'CDMX - Santa Fe y Zona Poniente',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 615,\n    certificaciones: ['CNSP', 'Seguridad VIP'],\n    servicios: ['Control de acceso vehicular', 'Vigilancia 24/7', 'Rondines programados', 'Gestion de visitas', 'Asesoria en seguridad'],\n    diferenciador: 'Especialistas en fraccionamientos residenciales con tecnologia de vanguardia',\n    telefono: '+52-55-1234-5600',\n    email: 'contacto@seguridadcondominios.mx',\n    imagen: 'guardia-caseta-residencial.webp',\n    keywords: ['seguridad fraccionamientos', 'control acceso vehicular', 'seguridad residencial CDMX', 'rondines']\n  }\n];\n\nconst enfoques = [\n  { tipo: 'resena', slugSuffix: 'resena-completa', titulo: '{empresa}: Resena Completa de Servicios' },\n  { tipo: 'caso-exito', slugSuffix: 'caso-exito', titulo: 'Caso de Exito: {empresa} en Seguridad Privada' },\n  { tipo: 'guia-servicios', slugSuffix: 'guia-servicios', titulo: 'Guia de Servicios: {empresa}' },\n  { tipo: 'opiniones', slugSuffix: 'opiniones-clientes', titulo: 'Opiniones sobre {empresa}: Lo que Dicen los Clientes' },\n  { tipo: 'tecnologia', slugSuffix: 'tecnologia-innovacion', titulo: 'Tecnologia e Innovacion en {empresa}' }\n];\n\nconst imagenesAdicionales = [\n  'guardia-corporativo-oficina.webp', 'rondin-nocturno-condominio.webp',\n  'acceso-biometrico-torniquete.webp', 'control-huella-digital.webp',\n  'monitoreo-cctv-central.webp', 'operador-videovigilancia.webp',\n  'escolta-ejecutivo-vehiculo.webp', 'seguridad-centro-comercial.webp',\n  'guardia-control-acceso-residencial.webp', 'vigilante-entrada-corporativa.webp',\n  'seguridad-estacionamiento.webp', 'vigilante-caseta-fraccionamiento.webp'\n];\n\nconst empresaIndex = Math.floor(Math.random() * empresas.length);\nconst empresa = empresas[empresaIndex];\nconst enfoqueIndex = Math.floor(Math.random() * enfoques.length);\nconst enfoque = enfoques[enfoqueIndex];\nconst tituloArticulo = enfoque.titulo.replace('{empresa}', empresa.nombre);\nconst slugSEO = `${empresa.slug}-${enfoque.slugSuffix}`.substring(0, 60);\nconst imagenesShuffled = [...imagenesAdicionales].sort(() => Math.random() - 0.5);\n\nreturn {\n  empresa: empresa,\n  enfoque: enfoque,\n  tituloArticulo: tituloArticulo,\n  slug: slugSEO,\n  timestamp: new Date().toISOString(),\n  categoria: 'seguridad-privada',\n  categoriaNombre: 'Seguridad Privada',\n  imagenes: {\n    principal: empresa.imagen,\n    contenido1: imagenesShuffled[0],\n    contenido2: imagenesShuffled[1],\n    contenido3: imagenesShuffled[2],\n    contenido4: imagenesShuffled[3] || imagenesShuffled[0]\n  },\n  rutaImagenes: '../../img/img-seguridad-privada/',\n  rutaImagenesAbsoluta: 'https://paginasamarillas.mx/img/img-seguridad-privada/',\n  urlPerfilEmpresa: `../../negocios/seguridad-privada/${empresa.slug}.html`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1696, 128],
      "id": "7d2bcacf-7edd-4917-a99a-aee5e423f088",
      "name": "Selector de Tema e Imagenes"
    },
    {
      "parameters": {
        "jsCode": "const datos = $input.first().json;\nconst empresa = datos.empresa;\nconst enfoque = datos.enfoque;\nconst titulo = datos.tituloArticulo;\n\nconst prompt = `Eres un redactor SEO experto. Genera un articulo profesional en JSON.\n\nEMPRESA: ${empresa.nombre}\nESPECIALIDAD: ${empresa.especialidad}\nSERVICIOS: ${empresa.servicios.join(', ')}\nDIFERENCIADOR: ${empresa.diferenciador}\nTIPO ARTICULO: ${enfoque.tipo}\nTITULO: ${titulo}\n\nGenera JSON con: titulo, metaDescripcion (150 chars), palabrasClave (5), tiempoLectura (numero), heroHook (60-80 palabras), heroValue (50-70 palabras), contenido (HTML 1800-2200 palabras con h2, h3, modulos), extractoBlog (100-150 chars), altImagenPrincipal, tocItems (array), faqs (5 objetos con pregunta y respuesta).\n\nRespuesta SOLO JSON valido.`;\n\nreturn {\n  prompt: prompt,\n  tituloArticulo: titulo,\n  empresa: empresa,\n  enfoque: enfoque,\n  slug: datos.slug,\n  timestamp: datos.timestamp,\n  categoria: datos.categoria,\n  categoriaNombre: datos.categoriaNombre,\n  imagenes: datos.imagenes,\n  rutaImagenes: datos.rutaImagenes,\n  rutaImagenesAbsoluta: datos.rutaImagenesAbsoluta,\n  urlPerfilEmpresa: datos.urlPerfilEmpresa\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1488, 128],
      "id": "799cd2e1-1b04-4e2b-acff-376cb64a5bdc",
      "name": "Constructor de Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.7, max_tokens: 6000 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1264, 128],
      "id": "6000b9ff-7a9f-412a-9caf-8324b0e125a1",
      "name": "ChatGPT - Generar Articulo",
      "credentials": {
        "openAiApi": {
          "id": "HE22vmcnvyK0nv77",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json;\nconst datosOriginales = $('Constructor de Prompt').first().json;\n\ntry {\n  let respuesta = inputJson.choices?.[0]?.message?.content || inputJson.content;\n  if (!respuesta) throw new Error('Respuesta vacia');\n  \n  let respuestaLimpia = respuesta.trim().replace(/^```json\\n?/, '').replace(/\\n?```$/, '');\n  const articulo = JSON.parse(respuestaLimpia);\n  \n  return {\n    exito: true,\n    titulo: articulo.titulo,\n    metaDescripcion: articulo.metaDescripcion,\n    palabrasClave: articulo.palabrasClave || [],\n    tiempoLectura: articulo.tiempoLectura || 10,\n    heroHook: articulo.heroHook || 'Descubre soluciones de seguridad profesionales.',\n    heroValue: articulo.heroValue || 'Las mejores opciones en seguridad privada.',\n    contenido: articulo.contenido,\n    extractoBlog: articulo.extractoBlog || articulo.metaDescripcion?.substring(0, 150),\n    altImagenPrincipal: articulo.altImagenPrincipal || 'Seguridad privada profesional',\n    tocItems: articulo.tocItems || [],\n    faqs: articulo.faqs || [],\n    slug: datosOriginales.slug,\n    timestamp: datosOriginales.timestamp,\n    categoria: datosOriginales.categoria,\n    categoriaNombre: datosOriginales.categoriaNombre,\n    imagenes: datosOriginales.imagenes,\n    rutaImagenes: datosOriginales.rutaImagenes,\n    rutaImagenesAbsoluta: datosOriginales.rutaImagenesAbsoluta,\n    empresa: datosOriginales.empresa\n  };\n} catch (error) {\n  return { exito: false, error: error.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1040, 128],
      "id": "80aada3f-0aef-47a9-80b8-1099bb2b400f",
      "name": "Validar y Procesar Respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.exito }}", "value2": true }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-816, 128],
      "id": "d8eee9dc-0c7a-4dcc-9c1d-4ceb3a8e606f",
      "name": "Articulo Valido?"
    },
    {
      "parameters": {
        "jsCode": "const a = $input.first().json;\nif (!a.contenido) throw new Error('No se recibio contenido');\n\nconst ruta = a.rutaImagenes || '../../img/img-seguridad-privada/';\nconst rutaAbs = a.rutaImagenesAbsoluta || 'https://paginasamarillas.mx/img/img-seguridad-privada/';\nconst img = a.imagenes || { principal: 'equipo-seguridad-corporativo.webp' };\nconst empresa = a.empresa || { nombre: 'Empresa', slug: 'empresa' };\n\nconst tocItems = a.tocItems || ['Conociendo la Empresa', 'Servicios', 'Clientes', 'Por Que Elegir', 'Contacto', 'FAQs'];\nconst tocIds = ['conociendo', 'servicios', 'clientes', 'por-que-elegir', 'contactar', 'preguntas-frecuentes'];\nconst tocHTML = tocItems.map((item, i) => `<li><a href=\"#${tocIds[i] || 'seccion-' + (i+1)}\">${item}</a></li>`).join('\\n');\n\nconst faqs = a.faqs || [];\nconst faqSchemaItems = faqs.map(faq => `{\"@type\":\"Question\",\"name\":\"${faq.pregunta}\",\"acceptedAnswer\":{\"@type\":\"Answer\",\"text\":\"${faq.respuesta}\"}}`).join(',');\nconst faqHTML = faqs.map(faq => `<div class=\"faq-item\"><button class=\"faq-question\" aria-expanded=\"false\"><span>${faq.pregunta}</span><svg class=\"faq-chevron\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><polyline points=\"6 9 12 15 18 9\"></polyline></svg></button><div class=\"faq-answer\"><p>${faq.respuesta}</p></div></div>`).join('\\n');\n\nconst htmlCompleto = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta name=\"description\" content=\"${a.metaDescripcion}\">\n<title>${a.titulo} | Paginas Amarillas</title>\n<link rel=\"canonical\" href=\"https://paginasamarillas.mx/blog/seguridad-privada/${a.slug}.html\">\n<meta property=\"og:title\" content=\"${a.titulo}\">\n<meta property=\"og:description\" content=\"${a.metaDescripcion}\">\n<meta property=\"og:image\" content=\"${rutaAbs}${img.principal}\">\n<script type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@type\":\"FAQPage\",\"mainEntity\":[${faqSchemaItems}]}</script>\n<link rel=\"stylesheet\" href=\"../../css/style.css\">\n</head>\n<body>\n<header class=\"header\" id=\"header\"><div class=\"container\"><nav class=\"navbar\"><div class=\"logo\"><a href=\"/\"><span class=\"logo-text\">Paginas<span class=\"logo-highlight\">Amarillas</span>.mx</span></a></div></nav></div></header>\n<section class=\"blog-hero-section\" style=\"background:linear-gradient(135deg,#1a1a2e,#16213e);padding:3rem 0;color:#fff;\"><div class=\"container\"><h1>${a.titulo}</h1><p>${a.heroHook}</p><p>${a.heroValue}</p><span>${a.tiempoLectura} min lectura</span></div></section>\n<main class=\"container\"><article class=\"blog-article\"><nav class=\"blog-article-toc-inline\"><h4>En este articulo</h4><ul>${tocHTML}</ul></nav><div class=\"blog-article-content\">${a.contenido}</div><section class=\"faq-section\" id=\"preguntas-frecuentes\"><h2>Preguntas Frecuentes</h2><div class=\"faq-accordion\">${faqHTML}</div></section></article></main>\n<footer class=\"footer\"><div class=\"container\"><p>&copy; 2025 PaginasAmarillas.mx</p></div></footer>\n<script src=\"../../js/app.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  html: htmlCompleto,\n  nombreArchivo: `${a.slug}.html`,\n  rutaArchivo: `blog/seguridad-privada/${a.slug}.html`,\n  titulo: a.titulo,\n  extractoBlog: a.extractoBlog,\n  tiempoLectura: a.tiempoLectura,\n  imagenes: img,\n  slug: a.slug,\n  categoria: a.categoria,\n  categoriaNombre: a.categoriaNombre,\n  empresaNombre: empresa.nombre\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 32],
      "id": "4b82d235-0589-43e9-8456-a501f06f4fcd",
      "name": "Construir HTML Profesional"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "Origenlab",
        "repository": "PAGINASAMARILLAS",
        "filePath": "={{ $json.rutaArchivo }}",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "=feat(blog): {{ $json.empresaNombre }} - {{ $json.titulo }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [-368, 32],
      "id": "4821da14-f696-41ba-90c8-d3face8ff1e1",
      "name": "GitHub - Subir Articulo",
      "credentials": {
        "githubApi": {
          "id": "NFw8kpUQfQRbzSHR",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datosArticulo = $('Construir HTML Profesional').first().json;\nconst githubResponse = $input.first().json;\n\nreturn {\n  exito: true,\n  mensaje: 'Articulo publicado',\n  detalles: {\n    empresa: datosArticulo.empresaNombre,\n    titulo: datosArticulo.titulo,\n    urlArticulo: `https://paginasamarillas.mx/${datosArticulo.rutaArchivo}`,\n    imagenNombre: datosArticulo.imagenes.principal,\n    tiempoLectura: datosArticulo.tiempoLectura,\n    categoria: datosArticulo.categoriaNombre,\n    extractoBlog: datosArticulo.extractoBlog,\n    slug: datosArticulo.slug\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-144, 32],
      "id": "4310c074-2b7a-4911-ae11-aee1cc9769aa",
      "name": "Resumen y Codigo para blog.html"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/PAGINASAMARILLAS/contents/blog/index.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 32],
      "id": "github-get-blog-index",
      "name": "GitHub - Obtener Blog Index",
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-header-auth",
          "name": "GitHub Token Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datosResumen = $('Resumen y Codigo para blog.html').first().json;\nconst githubResponse = $input.first().json;\n\n// GitHub API devuelve content en base64 (con newlines) y sha\nlet contentBase64Raw = githubResponse.content || '';\nconst sha = githubResponse.sha || '';\n\n// Limpiar newlines del base64 (GitHub los incluye)\nconst contentBase64 = contentBase64Raw.replace(/\\n/g, '').replace(/\\r/g, '');\n\nif (!contentBase64 || !sha) {\n  throw new Error('No se obtuvo content o sha. Verificar credencial GitHub Token Header. Content: ' + (contentBase64 ? 'OK' : 'VACIO') + ', SHA: ' + (sha ? sha : 'VACIO'));\n}\n\n// Decodificar base64 a texto\nconst blogIndexHTML = Buffer.from(contentBase64, 'base64').toString('utf8');\n\nconst d = datosResumen.detalles;\nconst urlArticulo = '/blog/seguridad-privada/' + d.slug + '.html';\nconst urlImagen = '/img/img-seguridad-privada/' + d.imagenNombre;\n\nconst nuevaCard = `\n              <!-- n8n:AUTO ${d.empresa} -->\n              <article class=\"blog-card\">\n                <a href=\"${urlArticulo}\" class=\"blog-card-image\">\n                  <img src=\"${urlImagen}\" alt=\"${d.titulo}\">\n                  <span class=\"blog-category-badge\">${d.categoria}</span>\n                </a>\n                <div class=\"blog-card-content\">\n                  <h3 class=\"blog-card-title\">\n                    <a href=\"${urlArticulo}\">${d.titulo}</a>\n                  </h3>\n                  <div class=\"blog-meta\">\n                    <span class=\"blog-reading-time\">\n                      <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                        <circle cx=\"12\" cy=\"12\" r=\"10\"/>\n                        <polyline points=\"12 6 12 12 16 14\"/>\n                      </svg>\n                      ${d.tiempoLectura} min\n                    </span>\n                  </div>\n                  <p class=\"blog-card-excerpt\">${d.extractoBlog}</p>\n                  <a href=\"${urlArticulo}\" class=\"btn btn-outline\">Leer articulo completo</a>\n                </div>\n              </article>\n`;\n\nconst marcadorStart = '<div class=\"blog-grid\">';\nconst indiceStart = blogIndexHTML.indexOf(marcadorStart);\n\nlet blogIndexActualizado;\nif (indiceStart > 0) {\n  const posicionInsercion = indiceStart + marcadorStart.length;\n  blogIndexActualizado = blogIndexHTML.substring(0, posicionInsercion) + nuevaCard + blogIndexHTML.substring(posicionInsercion);\n} else {\n  throw new Error('No se encontro <div class=\"blog-grid\"> en blog/index.html');\n}\n\n// Re-codificar a base64 para GitHub API\nconst contentBase64Nuevo = Buffer.from(blogIndexActualizado, 'utf8').toString('base64');\n\nreturn {\n  contentBase64: contentBase64Nuevo,\n  sha: sha,\n  detalles: datosResumen.detalles,\n  mensaje: 'Card insertada. SHA: ' + sha\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [304, 32],
      "id": "insertar-card-code",
      "name": "Insertar Card en HTML"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Origenlab/PAGINASAMARILLAS/contents/blog/index.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'feat(blog): agregar card ' + $json.detalles.empresa + ' - ' + $json.detalles.titulo, content: $json.contentBase64, sha: $json.sha }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [528, 32],
      "id": "github-update-blog-index",
      "name": "GitHub - Actualizar Blog Index",
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-header-auth",
          "name": "GitHub Token Header"
        }
      }
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "=✅ *Articulo Publicado*\n\n🏢 *Empresa:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.empresa }}\n📝 *Titulo:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.titulo }}\n⏱ *Lectura:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.tiempoLectura }} min\n\n🔗 {{ $('Resumen y Codigo para blog.html').item.json.detalles.urlArticulo }}\n\n✅ Card agregada al INICIO del blog\n\n🤖 _Paginas Amarillas Blog Generator PRO_",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [752, 32],
      "id": "535ec0a9-45a4-480b-a535-5f02cf205146",
      "name": "Telegram - Notificar Publicacion",
      "credentials": {
        "telegramApi": {
          "id": "c4dCbuRFOO8qk8oI",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { exito: false, mensaje: 'Error en la generacion', error: $input.first().json.error || 'Error desconocido' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 256],
      "id": "b2f78c40-307f-4097-bd6b-eeaddac1a0ca",
      "name": "Manejar Error"
    }
  ],
  "connections": {
    "Cada 3 Dias": { "main": [[{ "node": "Selector de Tema e Imagenes", "type": "main", "index": 0 }]] },
    "Ejecucion Manual": { "main": [[{ "node": "Selector de Tema e Imagenes", "type": "main", "index": 0 }]] },
    "Selector de Tema e Imagenes": { "main": [[{ "node": "Constructor de Prompt", "type": "main", "index": 0 }]] },
    "Constructor de Prompt": { "main": [[{ "node": "ChatGPT - Generar Articulo", "type": "main", "index": 0 }]] },
    "ChatGPT - Generar Articulo": { "main": [[{ "node": "Validar y Procesar Respuesta", "type": "main", "index": 0 }]] },
    "Validar y Procesar Respuesta": { "main": [[{ "node": "Articulo Valido?", "type": "main", "index": 0 }]] },
    "Articulo Valido?": { "main": [[{ "node": "Construir HTML Profesional", "type": "main", "index": 0 }], [{ "node": "Manejar Error", "type": "main", "index": 0 }]] },
    "Construir HTML Profesional": { "main": [[{ "node": "GitHub - Subir Articulo", "type": "main", "index": 0 }]] },
    "GitHub - Subir Articulo": { "main": [[{ "node": "Resumen y Codigo para blog.html", "type": "main", "index": 0 }]] },
    "Resumen y Codigo para blog.html": { "main": [[{ "node": "GitHub - Obtener Blog Index", "type": "main", "index": 0 }]] },
    "GitHub - Obtener Blog Index": { "main": [[{ "node": "Insertar Card en HTML", "type": "main", "index": 0 }]] },
    "Insertar Card en HTML": { "main": [[{ "node": "GitHub - Actualizar Blog Index", "type": "main", "index": 0 }]] },
    "GitHub - Actualizar Blog Index": { "main": [[{ "node": "Telegram - Notificar Publicacion", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "paginas-amarillas-mx" }
}
