n8n-workflows/workflow-blog-articulos-v3.json
{
  "name": "Blog Paginas Amarillas - Generador SEO v3.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 3,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cada 3 Dias",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Ejecutar Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 500]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SELECTOR DE EMPRESAS Y ARTICULOS - PAGINAS AMARILLAS\n// Configuracion embebida sin dependencias externas\n// ============================================\n\nconst config = {\n  baseUrl: 'https://paginasamarillas.mx',\n  github: {\n    owner: 'Origenlab',\n    repo: 'PAGINASAMARILLAS',\n    branch: 'main'\n  },\n  categories: [\n    {\n      id: 'seguridad-privada',\n      name: 'Seguridad Privada',\n      slug: 'seguridad-privada',\n      categoryPage: '/categoria/seguridad-privada.html'\n    }\n  ],\n  businesses: [\n    {\n      id: 'origins-private-security',\n      name: 'ORIGINS Private Security',\n      slug: 'origins-private-security',\n      businessPage: '/negocios/seguridad-privada/origins-private-security.html',\n      mainImage: 'equipo-seguridad-corporativo.webp',\n      services: ['vigilancia', 'escoltas', 'CCTV', 'control-acceso', 'seguridad-ejecutiva'],\n      location: 'CDMX',\n      keywords: ['seguridad corporativa', 'escoltas ejecutivos', 'vigilancia empresarial']\n    },\n    {\n      id: 'seguridad-privada-mx',\n      name: 'Seguridad Privada MX',\n      slug: 'seguridad-privada-mx',\n      businessPage: '/negocios/seguridad-privada/seguridad-privada-mx.html',\n      mainImage: 'centro-monitoreo-camaras.webp',\n      services: ['vigilancia', 'monitoreo', 'guardias', 'seguridad-industrial'],\n      location: 'CDMX, EdoMex, Queretaro, Puebla',\n      keywords: ['cobertura nacional', '300 elementos', 'seguridad industrial']\n    },\n    {\n      id: 'sepri',\n      name: 'SEPRI',\n      slug: 'sepri',\n      businessPage: '/negocios/seguridad-privada/sepri.html',\n      mainImage: 'grupo-guardias-edificio.webp',\n      services: ['vigilancia', 'seguridad-residencial', 'seguridad-comercial'],\n      location: 'CDMX',\n      keywords: ['seguridad residencial', 'condominios', 'plazas comerciales']\n    },\n    {\n      id: 'seguridad-condominios',\n      name: 'Seguridad Condominios MX',\n      slug: 'seguridad-condominios',\n      businessPage: '/negocios/seguridad-privada/seguridad-condominios.html',\n      mainImage: 'guardia-caseta-residencial.webp',\n      services: ['seguridad-residencial', 'control-acceso', 'rondines'],\n      location: 'CDMX',\n      keywords: ['condominios', 'fraccionamientos', 'seguridad residencial']\n    }\n  ],\n  articleTypes: [\n    {\n      id: 'resena-completa',\n      name: 'Resena Completa',\n      slug: 'resena-completa',\n      description: 'Analisis detallado de la empresa con todos sus servicios',\n      sections: ['introduccion', 'historia', 'servicios', 'tecnologia', 'testimonios', 'conclusion']\n    },\n    {\n      id: 'caso-exito',\n      name: 'Caso de Exito',\n      slug: 'caso-exito',\n      description: 'Historia de implementacion exitosa con un cliente',\n      sections: ['desafio', 'solucion', 'implementacion', 'resultados', 'testimonios']\n    },\n    {\n      id: 'guia-servicios',\n      name: 'Guia de Servicios',\n      slug: 'guia-servicios',\n      description: 'Desglose detallado de cada servicio ofrecido',\n      sections: ['introduccion', 'servicio1', 'servicio2', 'servicio3', 'precios', 'contacto']\n    },\n    {\n      id: 'opiniones-clientes',\n      name: 'Opiniones de Clientes',\n      slug: 'opiniones-clientes',\n      description: 'Recopilacion de testimonios y opiniones',\n      sections: ['introduccion', 'testimonios', 'puntuacion', 'pros-contras', 'conclusion']\n    }\n  ],\n  images: [\n    'acceso-biometrico-torniquete.webp',\n    'centro-monitoreo-camaras.webp',\n    'control-acceso-credencial.webp',\n    'equipo-seguridad-corporativo.webp',\n    'escolta-ejecutivo-vehiculo.webp',\n    'grupo-guardias-edificio.webp',\n    'guardia-caseta-residencial.webp',\n    'guardia-corporativo-oficina.webp',\n    'monitoreo-cctv-central.webp',\n    'seguridad-entrada-edificio.webp',\n    'vigilancia-nocturna-edificio.webp',\n    'vigilante-caseta-fraccionamiento.webp'\n  ]\n};\n\n// Sistema de rotacion sin repetir\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.businessesUsados) staticData.businessesUsados = [];\nif (!staticData.articleTypesUsados) staticData.articleTypesUsados = [];\n\n// Seleccionar empresa sin repetir\nlet businessesDisponibles = config.businesses.filter(b => !staticData.businessesUsados.includes(b.id));\nif (businessesDisponibles.length === 0) {\n  staticData.businessesUsados = [];\n  businessesDisponibles = config.businesses;\n}\nconst business = businessesDisponibles[Math.floor(Math.random() * businessesDisponibles.length)];\nstaticData.businessesUsados.push(business.id);\n\n// Seleccionar tipo de articulo sin repetir\nlet typesDisponibles = config.articleTypes.filter(t => !staticData.articleTypesUsados.includes(t.id));\nif (typesDisponibles.length === 0) {\n  staticData.articleTypesUsados = [];\n  typesDisponibles = config.articleTypes;\n}\nconst articleType = typesDisponibles[Math.floor(Math.random() * typesDisponibles.length)];\nstaticData.articleTypesUsados.push(articleType.id);\n\n// Seleccionar imagenes aleatorias\nconst availableImages = config.images.filter(img => img !== business.mainImage);\nconst shuffled = availableImages.sort(() => Math.random() - 0.5);\nconst heroImage = shuffled[0];\nconst galleryImages = shuffled.slice(1, 5);\n\n// Generar datos\nconst now = new Date();\nconst dateISO = now.toISOString().split('T')[0];\nconst dateYYYYMM = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}`;\nconst slugUnique = `${business.slug}-${articleType.slug}-${Date.now().toString(36)}`;\n\nconst category = config.categories[0];\n\nreturn [{\n  json: {\n    config: config,\n    category: category,\n    business: business,\n    articleType: articleType,\n    heroImage: heroImage,\n    galleryImages: galleryImages,\n    dateISO: dateISO,\n    dateYYYYMM: dateYYYYMM,\n    slugUnique: slugUnique,\n    imagesPath: `/img/img-${category.slug}/`\n  }\n}];"
      },
      "id": "selector-config",
      "name": "Selector Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst business = data.business;\nconst articleType = data.articleType;\nconst category = data.category;\n\nconst promptSistema = `Eres un REDACTOR SEO EXPERTO especializado en seguridad privada en Mexico.\n\n=== REGLAS ABSOLUTAS ===\n1. CONTENIDO ATEMPORAL: JAMAS menciones anos especificos (2024, 2025)\n2. SIN EMOJIS: NUNCA uses emojis en el contenido\n3. FORMATO: Parrafos de 3-5 oraciones, negritas con <strong>\n4. CONTENIDO: Minimo 2,000 palabras de contenido util\n5. TONO: Profesional, orientado a seguridad y proteccion\n6. RESPUESTA: UNICAMENTE JSON valido, sin markdown ni texto adicional`;\n\nconst promptUsuario = `Genera un articulo SEO profesional tipo \"${articleType.name}\" para la empresa de seguridad privada.\n\n## DATOS DE LA EMPRESA\n- Nombre: ${business.name}\n- Servicios: ${business.services.join(', ')}\n- Ubicacion: ${business.location}\n- Keywords principales: ${business.keywords.join(', ')}\n- Pagina del negocio: ${business.businessPage}\n\n## TIPO DE ARTICULO\n- Tipo: ${articleType.name}\n- Descripcion: ${articleType.description}\n- Secciones sugeridas: ${articleType.sections.join(', ')}\n\n## ESTRUCTURA JSON REQUERIDA\n\n{\n  \"title\": \"Titulo SEO optimizado (max 60 caracteres)\",\n  \"titleShort\": \"Titulo corto para breadcrumbs (max 40 caracteres)\",\n  \"slug\": \"slug-url-friendly-sin-acentos\",\n  \"metaDescription\": \"Meta description de 150-160 caracteres que incluya keyword principal\",\n  \"keywords\": \"keyword1, keyword2, keyword3, keyword4, keyword5\",\n  \"readingTime\": 10,\n  \"wordCount\": 2500,\n  \"heroHook\": \"Parrafo enganchador de 60-80 palabras que capture atencion inmediatamente.\",\n  \"tocItems\": [\n    {\"id\": \"seccion-1\", \"title\": \"Titulo Seccion 1\"},\n    {\"id\": \"seccion-2\", \"title\": \"Titulo Seccion 2\"},\n    {\"id\": \"seccion-3\", \"title\": \"Titulo Seccion 3\"},\n    {\"id\": \"seccion-4\", \"title\": \"Titulo Seccion 4\"},\n    {\"id\": \"seccion-5\", \"title\": \"Titulo Seccion 5\"},\n    {\"id\": \"preguntas-frecuentes\", \"title\": \"Preguntas Frecuentes\"}\n  ],\n  \"sections\": [\n    {\n      \"id\": \"seccion-1\",\n      \"title\": \"Titulo H2 de la seccion\",\n      \"content\": \"Contenido HTML con <p>, <ul>, <li>, <strong>. Minimo 300 palabras por seccion.\"\n    }\n  ],\n  \"statModule\": {\n    \"number\": \"95%\",\n    \"title\": \"Titulo del dato\",\n    \"description\": \"Explicacion del dato estadistico\"\n  },\n  \"tipModule\": {\n    \"content\": \"Consejo profesional de 2-3 oraciones\"\n  },\n  \"alertModule\": {\n    \"content\": \"Advertencia importante de 2-3 oraciones\"\n  },\n  \"quoteModule\": {\n    \"text\": \"Cita textual de un cliente o experto\",\n    \"author\": \"Nombre del autor\",\n    \"title\": \"Cargo o empresa\"\n  },\n  \"faqs\": [\n    {\"question\": \"Pregunta 1?\", \"answer\": \"Respuesta de 2-4 oraciones.\"},\n    {\"question\": \"Pregunta 2?\", \"answer\": \"Respuesta de 2-4 oraciones.\"},\n    {\"question\": \"Pregunta 3?\", \"answer\": \"Respuesta de 2-4 oraciones.\"},\n    {\"question\": \"Pregunta 4?\", \"answer\": \"Respuesta de 2-4 oraciones.\"},\n    {\"question\": \"Pregunta 5?\", \"answer\": \"Respuesta de 2-4 oraciones.\"}\n  ],\n  \"excerpt\": \"Extracto de 80-120 caracteres para la card del blog\",\n  \"ctaTitle\": \"Titulo del CTA final\",\n  \"ctaDescription\": \"Descripcion del CTA\",\n  \"ctaButton\": \"Texto del boton\",\n  \"tags\": [\"Tag 1\", \"Tag 2\", \"Tag 3\", \"Tag 4\"]\n}\n\n## REQUISITOS\n1. Contenido UNICO y ORIGINAL\n2. Incluir enlace a ${business.businessPage} naturalmente\n3. Mencionar ${business.location} donde sea relevante\n4. 5-6 secciones H2 con 250+ palabras cada una\n5. Las FAQs deben responder preguntas reales\n\nGenera el JSON completo ahora:`;\n\nconst chatGPTBody = {\n  model: 'gpt-4o',\n  messages: [\n    { role: 'system', content: promptSistema },\n    { role: 'user', content: promptUsuario }\n  ],\n  temperature: 0.7,\n  max_tokens: 8000,\n  response_format: { type: 'json_object' }\n};\n\nreturn [{ json: { ...data, chatGPTBody: chatGPTBody } }];"
      },
      "id": "constructor-prompt",
      "name": "Constructor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.chatGPTBody }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "chatgpt-api",
      "name": "ChatGPT API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "const respuesta = $input.first().json;\nconst dataOriginal = $('Constructor Prompt').first().json;\n\nlet contenido;\ntry {\n  let texto = respuesta.choices[0].message.content;\n  texto = texto.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  contenido = JSON.parse(texto);\n} catch (e) {\n  throw new Error('Error parseando respuesta de ChatGPT: ' + e.message);\n}\n\n// Validaciones\nconst campos = ['title', 'metaDescription', 'sections', 'faqs'];\nfor (const campo of campos) {\n  if (!contenido[campo]) throw new Error('Falta campo: ' + campo);\n}\n\nif (!contenido.sections || contenido.sections.length < 4) {\n  throw new Error('Se requieren minimo 4 secciones');\n}\n\nreturn [{ json: { ...dataOriginal, content: contenido, finalSlug: contenido.slug || dataOriginal.slugUnique } }];"
      },
      "id": "validar-respuesta",
      "name": "Validar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst content = data.content;\nconst category = data.category;\nconst business = data.business;\nconst heroImage = data.heroImage;\nconst galleryImages = data.galleryImages;\nconst dateISO = data.dateISO;\nconst slug = data.finalSlug;\n\n// TOC Items HTML\nconst tocItemsHtml = content.tocItems.map(item => \n  `<li><a href=\"#${item.id}\">${item.title}</a></li>`\n).join('\\n                        ');\n\n// Secciones HTML con modulos\nlet sectionsHtml = '';\ncontent.sections.forEach((section, index) => {\n  sectionsHtml += `\n                <h2 id=\"${section.id}\">${section.title}</h2>\n                ${section.content}\n`;\n  \n  if (index === 0 && content.statModule) {\n    sectionsHtml += `\n                <div class=\"interest-module stat-module\">\n                    <div class=\"stat-number\">${content.statModule.number}</div>\n                    <div class=\"stat-content\">\n                        <h4>${content.statModule.title}</h4>\n                        <p>${content.statModule.description}</p>\n                    </div>\n                </div>\n`;\n  }\n  \n  if (index === 1 && content.tipModule) {\n    sectionsHtml += `\n                <div class=\"interest-module tip-module\">\n                    <div class=\"tip-icon\">💡</div>\n                    <div class=\"tip-content\">\n                        <h4>Consejo de Experto</h4>\n                        <p>${content.tipModule.content}</p>\n                    </div>\n                </div>\n`;\n  }\n  \n  if (index === 2 && galleryImages.length >= 4) {\n    sectionsHtml += `\n                <div class=\"blog-image-gallery\">\n                    <h3>Galeria de Servicios</h3>\n                    <div class=\"gallery-grid\">\n                        <figure class=\"gallery-item\">\n                            <img src=\"../../img/img-${category.slug}/${galleryImages[0]}\" alt=\"${business.name} servicio 1\" loading=\"lazy\">\n                        </figure>\n                        <figure class=\"gallery-item\">\n                            <img src=\"../../img/img-${category.slug}/${galleryImages[1]}\" alt=\"${business.name} servicio 2\" loading=\"lazy\">\n                        </figure>\n                        <figure class=\"gallery-item\">\n                            <img src=\"../../img/img-${category.slug}/${galleryImages[2]}\" alt=\"${business.name} servicio 3\" loading=\"lazy\">\n                        </figure>\n                        <figure class=\"gallery-item\">\n                            <img src=\"../../img/img-${category.slug}/${galleryImages[3]}\" alt=\"${business.name} servicio 4\" loading=\"lazy\">\n                        </figure>\n                    </div>\n                </div>\n`;\n  }\n  \n  if (index === 3 && content.quoteModule) {\n    sectionsHtml += `\n                <div class=\"interest-module quote-module\">\n                    <blockquote>\"${content.quoteModule.text}\"</blockquote>\n                    <cite>— ${content.quoteModule.author}, ${content.quoteModule.title}</cite>\n                </div>\n`;\n  }\n});\n\n// FAQ HTML\nconst faqItemsHtml = content.faqs.map(faq => `\n                    <div class=\"faq-item\">\n                        <button class=\"faq-question\" aria-expanded=\"false\">\n                            <span>${faq.question}</span>\n                            <svg class=\"faq-chevron\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                                <polyline points=\"6 9 12 15 18 9\"></polyline>\n                            </svg>\n                        </button>\n                        <div class=\"faq-answer\">\n                            <p>${faq.answer}</p>\n                        </div>\n                    </div>`\n).join('\\n');\n\n// FAQ Schema\nconst faqSchemaItems = content.faqs.map(faq => `\n            {\n                \"@type\": \"Question\",\n                \"name\": \"${faq.question.replace(/\"/g, '\\\\\"')}\",\n                \"acceptedAnswer\": {\n                    \"@type\": \"Answer\",\n                    \"text\": \"${faq.answer.replace(/\"/g, '\\\\\"')}\"\n                }\n            }`\n).join(',');\n\n// Tags HTML\nconst tagsHtml = content.tags.map(tag => \n  `<a href=\"#\" class=\"tag\">${tag}</a>`\n).join('\\n                        ');\n\n// HTML Completo\nconst articleHtml = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>${content.title} | Paginas Amarillas</title>\n    <meta name=\"description\" content=\"${content.metaDescription}\">\n    <meta name=\"keywords\" content=\"${content.keywords}\">\n    <meta name=\"author\" content=\"Paginas Amarillas Mexico\">\n    <meta name=\"robots\" content=\"index, follow\">\n    <link rel=\"canonical\" href=\"https://paginasamarillas.mx/blog/${category.slug}/${slug}.html\">\n    <meta property=\"og:type\" content=\"article\">\n    <meta property=\"og:title\" content=\"${content.title}\">\n    <meta property=\"og:description\" content=\"${content.metaDescription}\">\n    <meta property=\"og:image\" content=\"https://paginasamarillas.mx/img/img-${category.slug}/${heroImage}\">\n    <meta property=\"og:url\" content=\"https://paginasamarillas.mx/blog/${category.slug}/${slug}.html\">\n    <meta name=\"twitter:card\" content=\"summary_large_image\">\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"Article\",\n        \"headline\": \"${content.title}\",\n        \"description\": \"${content.metaDescription}\",\n        \"image\": \"https://paginasamarillas.mx/img/img-${category.slug}/${heroImage}\",\n        \"author\": {\"@type\": \"Organization\", \"name\": \"Paginas Amarillas Mexico\"},\n        \"publisher\": {\"@type\": \"Organization\", \"name\": \"Paginas Amarillas Mexico\"},\n        \"datePublished\": \"${dateISO}\",\n        \"dateModified\": \"${dateISO}\"\n    }\n    </script>\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"FAQPage\",\n        \"mainEntity\": [${faqSchemaItems}]\n    }\n    </script>\n    <link rel=\"stylesheet\" href=\"../../css/style.css\">\n    <style>\n    .blog-hero-section{background:linear-gradient(135deg,#1a1a2e 0%,#16213e 100%);padding:3rem 0;margin-bottom:2rem}\n    .blog-hero-grid{display:grid;grid-template-columns:1fr 1fr;gap:2rem;align-items:center}\n    .blog-hero-image{border-radius:12px;overflow:hidden;box-shadow:0 15px 40px rgba(0,0,0,0.3)}\n    .blog-hero-image img{width:100%;height:350px;object-fit:cover}\n    .blog-hero-content{color:#fff}\n    .category-badge{display:inline-block;background:#f59e0b;color:#000;padding:0.4rem 0.8rem;border-radius:50px;font-size:0.8rem;font-weight:600;text-transform:uppercase;margin-bottom:1rem}\n    .hero-title{font-size:2.2rem;font-weight:800;line-height:1.2;margin-bottom:1rem;color:#fff}\n    .hero-hook{font-size:1.1rem;line-height:1.6;color:rgba(255,255,255,0.9);margin-bottom:1.5rem}\n    .interest-module{margin:2rem 0;padding:1.5rem;border-radius:12px;display:flex;gap:1rem}\n    .stat-module{background:linear-gradient(135deg,#fef3c7 0%,#fde68a 100%);border-left:4px solid #f59e0b}\n    .stat-number{font-size:2.5rem;font-weight:800;color:#b45309}\n    .tip-module{background:linear-gradient(135deg,#dbeafe 0%,#bfdbfe 100%);border-left:4px solid #3b82f6}\n    .quote-module{background:linear-gradient(135deg,#f3f4f6 0%,#e5e7eb 100%);border-left:4px solid #6b7280;flex-direction:column}\n    .blog-image-gallery{margin:2rem 0;padding:1.5rem;background:#f8fafc;border-radius:12px}\n    .gallery-grid{display:grid;grid-template-columns:repeat(2,1fr);gap:1rem}\n    .gallery-item{margin:0;border-radius:8px;overflow:hidden}\n    .gallery-item img{width:100%;height:160px;object-fit:cover}\n    .faq-section{margin:2rem 0}\n    .faq-item{border:1px solid #e5e7eb;border-radius:8px;margin-bottom:0.8rem}\n    .faq-question{width:100%;background:#fff;border:none;padding:1rem;text-align:left;font-weight:600;cursor:pointer;display:flex;justify-content:space-between}\n    .faq-answer{max-height:0;overflow:hidden;transition:max-height 0.3s}\n    .faq-answer p{padding:1rem;margin:0}\n    @media(max-width:768px){.blog-hero-grid{grid-template-columns:1fr}}\n    </style>\n</head>\n<body>\n    <header class=\"header\" id=\"header\"><div class=\"container\"><nav class=\"navbar\"><a href=\"/\" class=\"logo\"><span class=\"logo-text\">Paginas<span class=\"logo-highlight\">Amarillas</span>.mx</span></a><div class=\"nav-menu\" id=\"navMenu\"><ul class=\"nav-list\"><li><a href=\"/\">Inicio</a></li><li><a href=\"/categorias.html\">Categorias</a></li><li><a href=\"/blog/\" class=\"active\">Blog</a></li></ul></div></nav></div></header>\n    <section class=\"breadcrumbs\"><div class=\"container\"><nav><ol class=\"breadcrumb-list\"><li><a href=\"/\">Inicio</a></li><li><a href=\"/blog/\">Blog</a></li><li><a href=\"${category.categoryPage}\">${category.name}</a></li><li>${content.titleShort}</li></ol></nav></div></section>\n    <section class=\"blog-hero-section\"><div class=\"container\"><div class=\"blog-hero-grid\"><div class=\"blog-hero-image\"><img src=\"../../img/img-${category.slug}/${heroImage}\" alt=\"${content.title}\"></div><div class=\"blog-hero-content\"><span class=\"category-badge\">${category.name}</span><h1 class=\"hero-title\">${content.title}</h1><p class=\"hero-hook\">${content.heroHook}</p><div class=\"hero-meta\"><span>${content.readingTime} min lectura</span></div></div></div></div></section>\n    <main class=\"container\"><div class=\"blog-article-layout\"><article class=\"blog-article\"><nav class=\"blog-article-toc-inline\"><h4>En este articulo</h4><ul>${tocItemsHtml}</ul></nav><div class=\"blog-article-content\">${sectionsHtml}</div><section class=\"faq-section\" id=\"preguntas-frecuentes\"><h2>Preguntas Frecuentes</h2><div class=\"faq-accordion\">${faqItemsHtml}</div></section><div class=\"article-cta-final\" style=\"background:linear-gradient(135deg,#1a1a2e,#16213e);padding:2rem;border-radius:12px;color:#fff;text-align:center;margin:2rem 0\"><h3 style=\"color:#fff\">${content.ctaTitle}</h3><p style=\"color:rgba(255,255,255,0.8)\">${content.ctaDescription}</p><a href=\"${category.categoryPage}\" style=\"display:inline-block;background:#f59e0b;color:#000;padding:0.8rem 1.5rem;border-radius:8px;font-weight:600;text-decoration:none\">${content.ctaButton}</a></div><div class=\"blog-article-tags\"><h3>Temas relacionados:</h3><div class=\"tags-container\">${tagsHtml}</div></div></article></div></main>\n    <footer class=\"footer\"><div class=\"footer-bottom\"><div class=\"container\"><p>&copy; Paginas Amarillas Mexico. Todos los derechos reservados.</p></div></div></footer>\n    <script src=\"../../js/app.js\" defer></script>\n    <script>document.addEventListener('DOMContentLoaded',function(){document.querySelectorAll('.faq-question').forEach(function(q){q.addEventListener('click',function(){const a=this.parentElement.querySelector('.faq-answer');const exp=this.getAttribute('aria-expanded')==='true';this.setAttribute('aria-expanded',!exp);a.style.maxHeight=exp?null:a.scrollHeight+'px'})})});</script>\n</body>\n</html>`;\n\nreturn [{ json: { ...data, articleHtml: articleHtml } }];"
      },
      "id": "build-html",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst content = data.content;\nconst category = data.category;\nconst business = data.business;\nconst heroImage = data.heroImage;\nconst dateYYYYMM = data.dateYYYYMM;\nconst slug = data.finalSlug;\n\nconst cardHtml = `\n              <!-- n8n:AUTO - ${business.name} - ${dateYYYYMM} -->\n              <article class=\"blog-card\">\n                <a href=\"/blog/${category.slug}/${slug}.html\" class=\"blog-card-image\">\n                  <img src=\"/img/img-${category.slug}/${heroImage}\" alt=\"${content.title}\">\n                  <span class=\"blog-category-badge\">${category.name}</span>\n                </a>\n                <div class=\"blog-card-content\">\n                  <h3 class=\"blog-card-title\">\n                    <a href=\"/blog/${category.slug}/${slug}.html\">${content.title}</a>\n                  </h3>\n                  <div class=\"blog-meta\">\n                    <span class=\"blog-reading-time\">\n                      <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                        <circle cx=\"12\" cy=\"12\" r=\"10\"/>\n                        <polyline points=\"12 6 12 12 16 14\"/>\n                      </svg>\n                      ${content.readingTime} min\n                    </span>\n                  </div>\n                  <p class=\"blog-card-excerpt\">${content.excerpt}</p>\n                  <a href=\"/blog/${category.slug}/${slug}.html\" class=\"btn btn-outline\">Leer articulo completo</a>\n                </div>\n              </article>\n`;\n\nreturn [{ json: { ...data, cardHtml: cardHtml } }];"
      },
      "id": "build-card",
      "name": "Construir Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Origenlab/PAGINASAMARILLAS/contents/blog/{{ $json.category.slug }}/{{ $json.finalSlug }}.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add article: {{ $json.content.title }}\",\n  \"content\": \"{{ Buffer.from($json.articleHtml).toString('base64') }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "github-upload",
      "name": "GitHub Subir Articulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/PAGINASAMARILLAS/contents/blog/index.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "github-get-index",
      "name": "GitHub Obtener Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Construir Card').first().json;\nconst cardHtml = data.cardHtml;\nconst githubResponse = $input.first().json;\n\nconst indexContent = Buffer.from(githubResponse.content, 'base64').toString('utf8');\nconst marker = '<!-- n8n:INSERT-NEW-CARDS-HERE -->';\n\nif (!indexContent.includes(marker)) {\n  throw new Error('Marcador n8n no encontrado en blog/index.html');\n}\n\nconst newContent = indexContent.replace(marker, marker + '\\n' + cardHtml);\n\nreturn [{ json: { ...data, indexHtml: newContent, sha: githubResponse.sha } }];"
      },
      "id": "insert-card",
      "name": "Insertar Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Origenlab/PAGINASAMARILLAS/contents/blog/index.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add card: {{ $json.content.title }}\",\n  \"content\": \"{{ Buffer.from($json.indexHtml).toString('base64') }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "github-update-index",
      "name": "GitHub Actualizar Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"✅ *Nuevo Articulo Publicado*\\n\\n📝 *{{ $json.content.title }}*\\n\\n🏢 Empresa: {{ $json.business.name }}\\n📁 Tipo: {{ $json.articleType.name }}\\n⏱️ Lectura: {{ $json.content.readingTime }} min\\n\\n🔗 [Ver Articulo](https://paginasamarillas.mx/blog/{{ $json.category.slug }}/{{ $json.finalSlug }}.html)\\n\\n📊 Keywords: {{ $json.content.keywords }}\",\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": false\n}",
        "options": {}
      },
      "id": "telegram-notify",
      "name": "Telegram Notificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 400]
    },
    {
      "parameters": {},
      "id": "success-end",
      "name": "Fin Exitoso",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2880, 400]
    }
  ],
  "connections": {
    "Cada 3 Dias": {
      "main": [[{"node": "Selector Empresa", "type": "main", "index": 0}]]
    },
    "Ejecutar Manual": {
      "main": [[{"node": "Selector Empresa", "type": "main", "index": 0}]]
    },
    "Selector Empresa": {
      "main": [[{"node": "Constructor Prompt", "type": "main", "index": 0}]]
    },
    "Constructor Prompt": {
      "main": [[{"node": "ChatGPT API", "type": "main", "index": 0}]]
    },
    "ChatGPT API": {
      "main": [[{"node": "Validar Respuesta", "type": "main", "index": 0}]]
    },
    "Validar Respuesta": {
      "main": [[{"node": "Construir HTML", "type": "main", "index": 0}]]
    },
    "Construir HTML": {
      "main": [[{"node": "Construir Card", "type": "main", "index": 0}]]
    },
    "Construir Card": {
      "main": [[{"node": "GitHub Subir Articulo", "type": "main", "index": 0}]]
    },
    "GitHub Subir Articulo": {
      "main": [[{"node": "GitHub Obtener Index", "type": "main", "index": 0}]]
    },
    "GitHub Obtener Index": {
      "main": [[{"node": "Insertar Card", "type": "main", "index": 0}]]
    },
    "Insertar Card": {
      "main": [[{"node": "GitHub Actualizar Index", "type": "main", "index": 0}]]
    },
    "GitHub Actualizar Index": {
      "main": [[{"node": "Telegram Notificar", "type": "main", "index": 0}]]
    },
    "Telegram Notificar": {
      "main": [[{"node": "Fin Exitoso", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "v3.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "paginas-amarillas-mx"
  },
  "tags": [
    {"name": "Blog", "id": "blog"},
    {"name": "SEO", "id": "seo"},
    {"name": "Automatizacion", "id": "auto"}
  ]
}
