.audit/workflow-blog-seguridad-privada.json
{
  "name": "Paginas Amarillas - Blog Seguridad Privada PRO",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1936, 48],
      "id": "d2cf8198-759c-40a2-8579-786f248ac167",
      "name": "Cada 3 Dias"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1936, 224],
      "id": "3ea6b5f6-94c1-4b47-ac53-eba3120b1973",
      "name": "Ejecucion Manual"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// EMPRESAS DE SEGURIDAD PRIVADA - PAGINAS AMARILLAS MX\n// =====================================================\n\nconst empresas = [\n  {\n    id: 'origins-private-security',\n    nombre: 'ORIGINS Private Security',\n    slug: 'origins-private-security',\n    especialidad: 'Seguridad para Condominios y Corporativos',\n    ubicacion: 'CDMX y Estado de Mexico',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 245,\n    certificaciones: ['SSC', 'GPS 24/7', 'CNSP'],\n    servicios: ['Guardias certificados SSC', 'Monitoreo GPS 24/7', 'Respuesta en menos de 3 minutos', 'Control de accesos', 'Escoltas ejecutivos'],\n    diferenciador: 'Respuesta en menos de 3 minutos con monitoreo GPS en tiempo real',\n    telefono: '+52-55-3025-5580',\n    email: 'contacto@originsecurity.mx',\n    imagen: 'equipo-seguridad-corporativo.webp',\n    keywords: ['seguridad condominios CDMX', 'guardias certificados SSC', 'monitoreo GPS', 'seguridad residencial']\n  },\n  {\n    id: 'seguridad-privada-mx',\n    nombre: 'SeguridadPrivadaMX',\n    slug: 'seguridad-privada-mx',\n    especialidad: 'Seguridad Inteligente para Condominios',\n    ubicacion: 'CDMX - Benito Juarez',\n    experiencia: '10+ anos',\n    rating: 4.9,\n    resenas: 312,\n    certificaciones: ['SSC 100%', 'Tecnologia Propia'],\n    servicios: ['Guardias 100% certificados SSC', 'App movil propia', 'Camaras HD', 'Control de accesos biometrico', 'Precios transparentes'],\n    diferenciador: 'Primera empresa con tecnologia propia y cotizacion en 4 horas',\n    telefono: '+52-55-1234-5678',\n    email: 'contacto@seguridadprivadamx.com',\n    imagen: 'centro-monitoreo-camaras.webp',\n    keywords: ['seguridad inteligente', 'app movil seguridad', 'precios transparentes', 'tecnologia seguridad']\n  },\n  {\n    id: 'sepri',\n    nombre: 'SEPRI Seguridad para Eventos',\n    slug: 'sepri',\n    especialidad: 'Seguridad Privada para Eventos',\n    ubicacion: 'CDMX - Paseo de la Reforma',\n    experiencia: '12+ anos',\n    rating: 4.9,\n    resenas: 48,\n    certificaciones: ['SSC CDMX', 'CNSP', 'Eventos Masivos'],\n    servicios: ['Control de acceso eventos', 'Seguridad VIP', 'Gestion de multitudes', 'Vigilancia 24/7', 'Seguridad corporativa'],\n    diferenciador: 'Especialistas en eventos corporativos, bodas, conciertos y festivales',\n    telefono: '+52-55-4732-9810',\n    email: 'contacto@sepri.mx',\n    imagen: 'grupo-guardias-edificio.webp',\n    keywords: ['seguridad eventos CDMX', 'seguridad bodas', 'seguridad conciertos', 'control acceso eventos']\n  },\n  {\n    id: 'seguridad-condominios',\n    nombre: 'Seguridad Condominios MX',\n    slug: 'seguridad-condominios',\n    especialidad: 'Seguridad Integral para Fraccionamientos',\n    ubicacion: 'CDMX - Santa Fe y Zona Poniente',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 615,\n    certificaciones: ['CNSP', 'Seguridad VIP'],\n    servicios: ['Control de acceso vehicular', 'Vigilancia 24/7', 'Rondines programados', 'Gestion de visitas', 'Asesoria en seguridad'],\n    diferenciador: 'Especialistas en fraccionamientos residenciales con tecnologia de vanguardia',\n    telefono: '+52-55-1234-5600',\n    email: 'contacto@seguridadcondominios.mx',\n    imagen: 'guardia-caseta-residencial.webp',\n    keywords: ['seguridad fraccionamientos', 'control acceso vehicular', 'seguridad residencial CDMX', 'rondines']\n  }\n];\n\n// =====================================================\n// ENFOQUES DE ARTICULOS CON SLUGS SEO\n// =====================================================\n\nconst enfoques = [\n  {\n    tipo: 'resena',\n    slugSuffix: 'resena-completa',\n    titulo: '{empresa}: Resena Completa de Servicios',\n    descripcion: 'Analisis detallado de servicios, precios, opiniones de clientes y experiencia'\n  },\n  {\n    tipo: 'caso-exito',\n    slugSuffix: 'caso-exito',\n    titulo: 'Caso de Exito: {empresa} en Seguridad Privada',\n    descripcion: 'Historia real de implementacion exitosa con resultados medibles'\n  },\n  {\n    tipo: 'guia-servicios',\n    slugSuffix: 'guia-servicios',\n    titulo: 'Guia de Servicios: {empresa}',\n    descripcion: 'Desglose completo de cada servicio, beneficios y como contratarlos'\n  },\n  {\n    tipo: 'opiniones',\n    slugSuffix: 'opiniones-clientes',\n    titulo: 'Opiniones sobre {empresa}: Lo que Dicen los Clientes',\n    descripcion: 'Recopilacion de testimonios y experiencias de clientes satisfechos'\n  },\n  {\n    tipo: 'tecnologia',\n    slugSuffix: 'tecnologia-innovacion',\n    titulo: 'Tecnologia e Innovacion en {empresa}',\n    descripcion: 'Analisis de las herramientas tecnologicas y sistemas que utilizan'\n  }\n];\n\n// =====================================================\n// BANCO DE IMAGENES\n// =====================================================\n\nconst imagenesAdicionales = [\n  'guardia-corporativo-oficina.webp',\n  'rondin-nocturno-condominio.webp',\n  'acceso-biometrico-torniquete.webp',\n  'control-huella-digital.webp',\n  'monitoreo-cctv-central.webp',\n  'operador-videovigilancia.webp',\n  'escolta-ejecutivo-vehiculo.webp',\n  'seguridad-centro-comercial.webp',\n  'guardia-control-acceso-residencial.webp',\n  'vigilante-entrada-corporativa.webp',\n  'seguridad-estacionamiento.webp',\n  'vigilante-caseta-fraccionamiento.webp'\n];\n\n// =====================================================\n// SELECCION ALEATORIA\n// =====================================================\n\nconst empresaIndex = Math.floor(Math.random() * empresas.length);\nconst empresa = empresas[empresaIndex];\n\nconst enfoqueIndex = Math.floor(Math.random() * enfoques.length);\nconst enfoque = enfoques[enfoqueIndex];\n\nconst tituloArticulo = enfoque.titulo.replace('{empresa}', empresa.nombre);\n\n// SLUG SEO-FRIENDLY: empresa-slug + enfoque-suffix (max 60 chars, sin numeros)\nconst slugSEO = `${empresa.slug}-${enfoque.slugSuffix}`.substring(0, 60);\n\nconst imagenesShuffled = [...imagenesAdicionales].sort(() => Math.random() - 0.5);\n\nreturn {\n  empresa: empresa,\n  enfoque: enfoque,\n  tituloArticulo: tituloArticulo,\n  slug: slugSEO,\n  timestamp: new Date().toISOString(),\n  categoria: 'seguridad-privada',\n  categoriaNombre: 'Seguridad Privada',\n  imagenes: {\n    principal: empresa.imagen,\n    contenido1: imagenesShuffled[0],\n    contenido2: imagenesShuffled[1],\n    contenido3: imagenesShuffled[2],\n    contenido4: imagenesShuffled[3] || imagenesShuffled[0]\n  },\n  rutaImagenes: '../../img/img-seguridad-privada/',\n  rutaImagenesAbsoluta: 'https://paginasamarillas.mx/img/img-seguridad-privada/',\n  urlPerfilEmpresa: `../../negocios/seguridad-privada/${empresa.slug}.html`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1696, 128],
      "id": "7d2bcacf-7edd-4917-a99a-aee5e423f088",
      "name": "Selector de Tema e Imagenes"
    },
    {
      "parameters": {
        "jsCode": "const datos = $input.first().json;\nconst empresa = datos.empresa;\nconst enfoque = datos.enfoque;\nconst titulo = datos.tituloArticulo;\n\nconst prompt = `Eres un redactor SEO experto y disenador web especializado en articulos profesionales para el directorio Paginas Amarillas Mexico.\n\n=====================================================\nEMPRESA A RESENAR\n=====================================================\n- Nombre: ${empresa.nombre}\n- Especialidad: ${empresa.especialidad}\n- Ubicacion: ${empresa.ubicacion}\n- Experiencia: ${empresa.experiencia}\n- Rating: ${empresa.rating}/5 (${empresa.resenas} resenas)\n- Certificaciones: ${empresa.certificaciones.join(', ')}\n- Servicios: ${empresa.servicios.join(', ')}\n- Diferenciador: ${empresa.diferenciador}\n- Telefono: ${empresa.telefono}\n- URL Perfil: ${datos.urlPerfilEmpresa}\n\n=====================================================\nTIPO DE ARTICULO: ${enfoque.tipo}\nTITULO SUGERIDO: ${titulo}\n=====================================================\n\n=====================================================\nREGLAS CRITICAS DE REDACCION\n=====================================================\n1. CONTENIDO ATEMPORAL - NUNCA incluyas fechas, anos o meses especificos\n2. Tono profesional pero conversacional, como asesor experto\n3. Segunda persona (tu/usted) de forma consistente\n4. Parrafos de 80-150 palabras, oraciones de 15-25 palabras\n5. Incluye datos especificos: porcentajes, tiempos de respuesta, numeros\n6. Voz activa sobre pasiva\n7. Numeros concretos en lugar de palabras vagas (\"87%\" no \"la mayoria\")\n\n=====================================================\nESTRUCTURA DEL ARTICULO - OBLIGATORIA\n=====================================================\n\n**SECCION HERO (Dos columnas - generado por template)**\nDebes proporcionar:\n- heroHook: Parrafo gancho de 60-80 palabras (problema + emocion + curiosidad)\n- heroValue: Parrafo propuesta de valor de 50-70 palabras (solucion + beneficios)\n\n**CONTENIDO PRINCIPAL (1,800-2,200 palabras)**\n\n1. **LEAD PARAGRAPH** (clase .lead, 100-150 palabras):\n   - Hook emocional narrativo (historia breve o escenario)\n   - Transicion al tema principal\n   - Keyword principal incluida naturalmente\n\n2. **H2: Conociendo a ${empresa.nombre}** (id=\"conociendo\", 300 palabras):\n   - Historia y trayectoria (${empresa.experiencia})\n   - Valores y filosofia de la empresa\n   - Que los hace unicos en el mercado\n   - INCLUIR: Modulo de estadistica despues de esta seccion\n\n3. **H2: Servicios Destacados** (id=\"servicios\", 400 palabras):\n   - H3 para cada servicio principal (3-4 servicios)\n   - Beneficios especificos de cada uno\n   - INCLUIR: Galeria de 4 imagenes con formato especifico\n   - INCLUIR: Modulo de tip practico\n\n4. **H2: Lo que Dicen los Clientes** (id=\"clientes\", 300 palabras):\n   - 3 testimonios con nombres genericos (\"Carlos M., administrador\")\n   - Rating: ${empresa.rating}/5 con ${empresa.resenas} resenas\n   - Casos de exito breves y especificos\n   - INCLUIR: Modulo de cita/testimonio destacado\n\n5. **H2: Por Que Elegir ${empresa.nombre}** (id=\"por-que-elegir\", 300 palabras):\n   - Diferenciador principal: ${empresa.diferenciador}\n   - Certificaciones: ${empresa.certificaciones.join(', ')}\n   - Comparativa con competencia (sin nombrar)\n   - INCLUIR: Modulo de alerta/importante sobre certificaciones\n\n6. **H2: Como Contactar** (id=\"contactar\", 150 palabras):\n   - Telefono: ${empresa.telefono}\n   - Proceso de cotizacion paso a paso\n   - CTA con enlace al perfil: <a href=\"${datos.urlPerfilEmpresa}\">${empresa.nombre} en Paginas Amarillas</a>\n\n=====================================================\nFORMATO HTML REQUERIDO\n=====================================================\n\n<p class=\"lead\">Parrafo introductorio narrativo...</p>\n\n<h2 id=\"conociendo\">Conociendo a ${empresa.nombre}</h2>\n<p>Contenido...</p>\n\n<!-- MODULO ESTADISTICA -->\n<div class=\"interest-module stat-module\">\n    <div class=\"stat-number\">{porcentaje o numero}</div>\n    <div class=\"stat-content\">\n        <h4>{Titulo del dato}</h4>\n        <p>{Explicacion del dato relevante}</p>\n    </div>\n</div>\n\n<h2 id=\"servicios\">Servicios Destacados</h2>\n<h3>{Nombre Servicio 1}</h3>\n<p>Descripcion...</p>\n<h3>{Nombre Servicio 2}</h3>\n<p>Descripcion...</p>\n\n<!-- GALERIA DE IMAGENES -->\n<div class=\"blog-image-gallery\">\n    <h3>Servicios Profesionales de Seguridad</h3>\n    <div class=\"gallery-grid\">\n        <figure class=\"gallery-item\">\n            <img src=\"{{IMG_1}}\" alt=\"{{ALT_1}}\" loading=\"lazy\">\n            <figcaption class=\"gallery-caption\">\n                <strong>{{CAPTION_TITLE_1}}</strong>\n                <span>{{CAPTION_DESC_1}}</span>\n            </figcaption>\n        </figure>\n        <figure class=\"gallery-item\">\n            <img src=\"{{IMG_2}}\" alt=\"{{ALT_2}}\" loading=\"lazy\">\n            <figcaption class=\"gallery-caption\">\n                <strong>{{CAPTION_TITLE_2}}</strong>\n                <span>{{CAPTION_DESC_2}}</span>\n            </figcaption>\n        </figure>\n        <figure class=\"gallery-item\">\n            <img src=\"{{IMG_3}}\" alt=\"{{ALT_3}}\" loading=\"lazy\">\n            <figcaption class=\"gallery-caption\">\n                <strong>{{CAPTION_TITLE_3}}</strong>\n                <span>{{CAPTION_DESC_3}}</span>\n            </figcaption>\n        </figure>\n        <figure class=\"gallery-item\">\n            <img src=\"{{IMG_4}}\" alt=\"{{ALT_4}}\" loading=\"lazy\">\n            <figcaption class=\"gallery-caption\">\n                <strong>{{CAPTION_TITLE_4}}</strong>\n                <span>{{CAPTION_DESC_4}}</span>\n            </figcaption>\n        </figure>\n    </div>\n</div>\n\n<!-- MODULO TIP -->\n<div class=\"interest-module tip-module\">\n    <div class=\"tip-icon\">💡</div>\n    <div class=\"tip-content\">\n        <h4>Consejo de Experto</h4>\n        <p>{Tip practico relevante}</p>\n    </div>\n</div>\n\n<h2 id=\"clientes\">Lo que Dicen los Clientes</h2>\n<p>Contenido con testimonios...</p>\n\n<!-- MODULO CITA -->\n<div class=\"interest-module quote-module\">\n    <blockquote>\"{Testimonio destacado}\"</blockquote>\n    <cite>— {Nombre}, {Cargo/Contexto}</cite>\n</div>\n\n<h2 id=\"por-que-elegir\">Por Que Elegir ${empresa.nombre}</h2>\n<p>Contenido...</p>\n\n<!-- MODULO ALERTA -->\n<div class=\"interest-module alert-module\">\n    <div class=\"alert-icon\">⚠️</div>\n    <div class=\"alert-content\">\n        <h4>Importante</h4>\n        <p>{Informacion critica sobre certificaciones o legalidad}</p>\n    </div>\n</div>\n\n<h2 id=\"contactar\">Como Contactar</h2>\n<p>Contenido con CTA...</p>\n\n=====================================================\nFAQs OBLIGATORIAS (5 preguntas)\n=====================================================\n\nGenera 5 preguntas frecuentes relevantes para ${empresa.nombre}:\n1. Pregunta sobre servicios principales\n2. Pregunta sobre precios/cotizacion\n3. Pregunta sobre certificaciones/garantias\n4. Pregunta sobre cobertura/zonas\n5. Pregunta sobre proceso de contratacion\n\nCada respuesta debe tener 80-120 palabras.\n\n=====================================================\nRESPUESTA JSON - ESTRUCTURA EXACTA\n=====================================================\n\n{\n  \"titulo\": \"Titulo SEO max 60 chars con nombre empresa\",\n  \"metaDescripcion\": \"Meta descripcion 150-160 chars persuasiva\",\n  \"palabrasClave\": [\"${empresa.nombre}\", \"seguridad privada CDMX\", \"keyword3\", \"keyword4\", \"keyword5\"],\n  \"tiempoLectura\": 10,\n  \"heroHook\": \"Parrafo gancho 60-80 palabras para hero\",\n  \"heroValue\": \"Parrafo propuesta de valor 50-70 palabras\",\n  \"contenido\": \"HTML completo del articulo con todos los modulos\",\n  \"extractoBlog\": \"Extracto 100-150 chars para card del blog\",\n  \"altImagenPrincipal\": \"Alt text SEO imagen hero\",\n  \"altImagen1\": \"Alt galeria 1\",\n  \"altImagen2\": \"Alt galeria 2\",\n  \"altImagen3\": \"Alt galeria 3\",\n  \"altImagen4\": \"Alt galeria 4\",\n  \"captionTitle1\": \"Titulo caption 1\",\n  \"captionDesc1\": \"Descripcion caption 1\",\n  \"captionTitle2\": \"Titulo caption 2\",\n  \"captionDesc2\": \"Descripcion caption 2\",\n  \"captionTitle3\": \"Titulo caption 3\",\n  \"captionDesc3\": \"Descripcion caption 3\",\n  \"captionTitle4\": \"Titulo caption 4\",\n  \"captionDesc4\": \"Descripcion caption 4\",\n  \"tocItems\": [\"Conociendo a ${empresa.nombre}\", \"Servicios Destacados\", \"Lo que Dicen los Clientes\", \"Por Que Elegir ${empresa.nombre}\", \"Como Contactar\", \"Preguntas Frecuentes\"],\n  \"faqs\": [\n    {\"pregunta\": \"Pregunta 1\", \"respuesta\": \"Respuesta 80-120 palabras\"},\n    {\"pregunta\": \"Pregunta 2\", \"respuesta\": \"Respuesta 80-120 palabras\"},\n    {\"pregunta\": \"Pregunta 3\", \"respuesta\": \"Respuesta 80-120 palabras\"},\n    {\"pregunta\": \"Pregunta 4\", \"respuesta\": \"Respuesta 80-120 palabras\"},\n    {\"pregunta\": \"Pregunta 5\", \"respuesta\": \"Respuesta 80-120 palabras\"}\n  ]\n}\n\n**IMPORTANTE:** Responde UNICAMENTE con JSON valido, sin texto adicional ni bloques de codigo.`;\n\nreturn {\n  prompt: prompt,\n  tituloArticulo: titulo,\n  empresa: empresa,\n  enfoque: enfoque,\n  slug: datos.slug,\n  timestamp: datos.timestamp,\n  categoria: datos.categoria,\n  categoriaNombre: datos.categoriaNombre,\n  imagenes: datos.imagenes,\n  rutaImagenes: datos.rutaImagenes,\n  rutaImagenesAbsoluta: datos.rutaImagenesAbsoluta,\n  urlPerfilEmpresa: datos.urlPerfilEmpresa\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1488, 128],
      "id": "799cd2e1-1b04-4e2b-acff-376cb64a5bdc",
      "name": "Constructor de Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.7, max_tokens: 6000 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1264, 128],
      "id": "6000b9ff-7a9f-412a-9caf-8324b0e125a1",
      "name": "ChatGPT - Generar Articulo",
      "credentials": {
        "openAiApi": {
          "id": "HE22vmcnvyK0nv77",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json;\nconst datosOriginales = $('Constructor de Prompt').first().json;\n\ntry {\n  let respuesta;\n  if (inputJson.choices && inputJson.choices[0] && inputJson.choices[0].message) {\n    respuesta = inputJson.choices[0].message.content;\n  } else if (inputJson.content) {\n    respuesta = inputJson.content;\n  } else {\n    throw new Error('Formato de respuesta no reconocido: ' + JSON.stringify(Object.keys(inputJson)));\n  }\n  \n  if (!respuesta) {\n    throw new Error('Respuesta de ChatGPT vacia');\n  }\n  \n  let respuestaLimpia = respuesta.trim();\n  if (respuestaLimpia.startsWith('```json')) {\n    respuestaLimpia = respuestaLimpia.replace(/^```json\\n?/, '').replace(/\\n?```$/, '');\n  } else if (respuestaLimpia.startsWith('```')) {\n    respuestaLimpia = respuestaLimpia.replace(/^```\\n?/, '').replace(/\\n?```$/, '');\n  }\n  \n  const articulo = JSON.parse(respuestaLimpia);\n  \n  const camposRequeridos = ['titulo', 'metaDescripcion', 'palabrasClave', 'contenido', 'tocItems'];\n  const camposFaltantes = camposRequeridos.filter(campo => !articulo[campo]);\n  if (camposFaltantes.length > 0) {\n    throw new Error('Campos faltantes: ' + camposFaltantes.join(', '));\n  }\n  \n  let contenidoLimpio = articulo.contenido.replace(/```html/g, '').replace(/```/g, '').trim();\n  \n  const img = datosOriginales.imagenes;\n  const ruta = datosOriginales.rutaImagenes;\n  \n  // Reemplazar placeholders de imagenes\n  contenidoLimpio = contenidoLimpio\n    .replace(/\\{\\{IMG_1\\}\\}/g, ruta + img.contenido1)\n    .replace(/\\{\\{IMG_2\\}\\}/g, ruta + img.contenido2)\n    .replace(/\\{\\{IMG_3\\}\\}/g, ruta + img.contenido3)\n    .replace(/\\{\\{IMG_4\\}\\}/g, ruta + img.contenido4)\n    .replace(/\\{\\{ALT_1\\}\\}/g, articulo.altImagen1 || 'Servicio de seguridad profesional')\n    .replace(/\\{\\{ALT_2\\}\\}/g, articulo.altImagen2 || 'Equipo de vigilancia capacitado')\n    .replace(/\\{\\{ALT_3\\}\\}/g, articulo.altImagen3 || 'Control de acceso moderno')\n    .replace(/\\{\\{ALT_4\\}\\}/g, articulo.altImagen4 || 'Monitoreo profesional')\n    .replace(/\\{\\{CAPTION_TITLE_1\\}\\}/g, articulo.captionTitle1 || 'Seguridad Profesional')\n    .replace(/\\{\\{CAPTION_DESC_1\\}\\}/g, articulo.captionDesc1 || 'Servicios de vigilancia')\n    .replace(/\\{\\{CAPTION_TITLE_2\\}\\}/g, articulo.captionTitle2 || 'Control de Acceso')\n    .replace(/\\{\\{CAPTION_DESC_2\\}\\}/g, articulo.captionDesc2 || 'Tecnologia de seguridad')\n    .replace(/\\{\\{CAPTION_TITLE_3\\}\\}/g, articulo.captionTitle3 || 'Monitoreo 24/7')\n    .replace(/\\{\\{CAPTION_DESC_3\\}\\}/g, articulo.captionDesc3 || 'Vigilancia continua')\n    .replace(/\\{\\{CAPTION_TITLE_4\\}\\}/g, articulo.captionTitle4 || 'Equipo Capacitado')\n    .replace(/\\{\\{CAPTION_DESC_4\\}\\}/g, articulo.captionDesc4 || 'Personal certificado');\n  \n  // Procesar FAQs\n  const faqs = articulo.faqs || [\n    { pregunta: '¿Que servicios ofrece la empresa?', respuesta: 'Ofrecemos servicios integrales de seguridad privada incluyendo vigilancia, monitoreo y control de acceso.' },\n    { pregunta: '¿Como solicitar una cotizacion?', respuesta: 'Puede contactarnos por telefono o visitar nuestro perfil en Paginas Amarillas para solicitar una cotizacion personalizada.' },\n    { pregunta: '¿Cuentan con certificaciones?', respuesta: 'Si, contamos con todas las certificaciones requeridas por el CNSP para operar legalmente en Mexico.' },\n    { pregunta: '¿Que zonas cubren?', respuesta: 'Operamos principalmente en CDMX y area metropolitana, con posibilidad de expansion segun necesidades.' },\n    { pregunta: '¿Cual es el proceso de contratacion?', respuesta: 'El proceso incluye evaluacion de necesidades, propuesta personalizada, firma de contrato e implementacion.' }\n  ];\n  \n  return {\n    exito: true,\n    titulo: articulo.titulo,\n    metaDescripcion: articulo.metaDescripcion,\n    palabrasClave: articulo.palabrasClave,\n    tiempoLectura: articulo.tiempoLectura || 10,\n    heroHook: articulo.heroHook || 'Descubre como proteger tu patrimonio con soluciones de seguridad profesionales.',\n    heroValue: articulo.heroValue || 'Te mostramos las mejores opciones en seguridad privada para tu empresa o condominio.',\n    contenido: contenidoLimpio,\n    extractoBlog: articulo.extractoBlog || articulo.metaDescripcion.substring(0, 150),\n    altImagenPrincipal: articulo.altImagenPrincipal || 'Seguridad privada profesional',\n    tocItems: articulo.tocItems,\n    faqs: faqs,\n    slug: datosOriginales.slug,\n    timestamp: datosOriginales.timestamp,\n    categoria: datosOriginales.categoria,\n    categoriaNombre: datosOriginales.categoriaNombre,\n    imagenes: datosOriginales.imagenes,\n    rutaImagenes: datosOriginales.rutaImagenes,\n    rutaImagenesAbsoluta: datosOriginales.rutaImagenesAbsoluta,\n    empresa: datosOriginales.empresa\n  };\n} catch (error) {\n  return {\n    exito: false,\n    error: error.message,\n    respuestaOriginal: typeof inputJson === 'object' ? JSON.stringify(inputJson).substring(0, 1500) : String(inputJson).substring(0, 1500)\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1040, 128],
      "id": "80aada3f-0aef-47a9-80b8-1099bb2b400f",
      "name": "Validar y Procesar Respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exito }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-816, 128],
      "id": "d8eee9dc-0c7a-4dcc-9c1d-4ceb3a8e606f",
      "name": "Articulo Valido?"
    },
    {
      "parameters": {
        "jsCode": "const a = $input.first().json;\n\nif (!a.contenido) {\n  throw new Error('No se recibio contenido del articulo');\n}\n\nconst ruta = a.rutaImagenes || '../../img/img-seguridad-privada/';\nconst rutaAbs = a.rutaImagenesAbsoluta || 'https://paginasamarillas.mx/img/img-seguridad-privada/';\nconst img = a.imagenes || { principal: 'equipo-seguridad-corporativo.webp' };\nconst empresa = a.empresa || { nombre: 'Empresa', slug: 'empresa' };\n\n// TOC Items\nconst tocItems = a.tocItems || ['Conociendo la Empresa', 'Servicios Destacados', 'Lo que Dicen los Clientes', 'Por Que Elegir', 'Como Contactar', 'Preguntas Frecuentes'];\nconst tocIds = ['conociendo', 'servicios', 'clientes', 'por-que-elegir', 'contactar', 'preguntas-frecuentes'];\nconst tocHTML = tocItems.map((item, i) => {\n  return `                    <li><a href=\"#${tocIds[i] || 'seccion-' + (i+1)}\">${item}</a></li>`;\n}).join('\\n');\n\n// FAQ Schema\nconst faqs = a.faqs || [];\nconst faqSchemaItems = faqs.map(faq => `{\n            \"@type\": \"Question\",\n            \"name\": \"${faq.pregunta.replace(/\"/g, '\\\\\"')}\",\n            \"acceptedAnswer\": {\n                \"@type\": \"Answer\",\n                \"text\": \"${faq.respuesta.replace(/\"/g, '\\\\\"')}\"\n            }\n        }`).join(',\\n        ');\n\n// FAQ HTML Accordion\nconst faqHTML = faqs.map((faq, i) => `\n                <div class=\"faq-item\">\n                    <button class=\"faq-question\" aria-expanded=\"false\">\n                        <span>${faq.pregunta}</span>\n                        <svg class=\"faq-chevron\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                            <polyline points=\"6 9 12 15 18 9\"></polyline>\n                        </svg>\n                    </button>\n                    <div class=\"faq-answer\">\n                        <p>${faq.respuesta}</p>\n                    </div>\n                </div>`).join('\\n');\n\nconst htmlCompleto = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta name=\"description\" content=\"${a.metaDescripcion}\">\n    <meta name=\"keywords\" content=\"${(a.palabrasClave || ['seguridad privada']).join(', ')}\">\n    <meta name=\"author\" content=\"Paginas Amarillas Mexico\">\n    <meta name=\"robots\" content=\"index, follow\">\n    <title>${a.titulo} | Paginas Amarillas</title>\n\n    <link rel=\"canonical\" href=\"https://paginasamarillas.mx/blog/seguridad-privada/${a.slug}.html\">\n\n    <meta property=\"og:type\" content=\"article\">\n    <meta property=\"og:title\" content=\"${a.titulo}\">\n    <meta property=\"og:description\" content=\"${a.metaDescripcion}\">\n    <meta property=\"og:image\" content=\"${rutaAbs}${img.principal}\">\n    <meta property=\"og:url\" content=\"https://paginasamarillas.mx/blog/seguridad-privada/${a.slug}.html\">\n    <meta property=\"og:site_name\" content=\"Paginas Amarillas Mexico\">\n    <meta property=\"og:locale\" content=\"es_MX\">\n\n    <meta name=\"twitter:card\" content=\"summary_large_image\">\n    <meta name=\"twitter:title\" content=\"${a.titulo}\">\n    <meta name=\"twitter:description\" content=\"${a.metaDescripcion}\">\n    <meta name=\"twitter:image\" content=\"${rutaAbs}${img.principal}\">\n\n    <meta property=\"article:section\" content=\"Seguridad Privada\">\n\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"Article\",\n        \"headline\": \"${a.titulo}\",\n        \"description\": \"${a.metaDescripcion}\",\n        \"image\": \"${rutaAbs}${img.principal}\",\n        \"author\": {\n            \"@type\": \"Organization\",\n            \"name\": \"Paginas Amarillas Mexico\",\n            \"url\": \"https://paginasamarillas.mx\"\n        },\n        \"publisher\": {\n            \"@type\": \"Organization\",\n            \"name\": \"Paginas Amarillas Mexico\",\n            \"logo\": {\n                \"@type\": \"ImageObject\",\n                \"url\": \"https://paginasamarillas.mx/img/logo.svg\"\n            }\n        },\n        \"mainEntityOfPage\": {\n            \"@type\": \"WebPage\",\n            \"@id\": \"https://paginasamarillas.mx/blog/seguridad-privada/${a.slug}.html\"\n        },\n        \"keywords\": \"${(a.palabrasClave || []).join(', ')}\",\n        \"articleSection\": \"Seguridad Privada\",\n        \"wordCount\": 2000,\n        \"timeRequired\": \"PT${a.tiempoLectura}M\",\n        \"inLanguage\": \"es-MX\"\n    }\n    </script>\n\n    <script type=\"application/ld+json\">\n    {\n        \"@context\": \"https://schema.org\",\n        \"@type\": \"FAQPage\",\n        \"mainEntity\": [\n        ${faqSchemaItems}\n        ]\n    }\n    </script>\n\n    <link rel=\"stylesheet\" href=\"../../css/style.css\">\n    <style>\n    /* Hero de Dos Columnas */\n    .blog-hero-section {\n        background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);\n        padding: 3rem 0;\n        margin-bottom: 2rem;\n    }\n    .blog-hero-grid {\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        gap: 2rem;\n        align-items: center;\n    }\n    .blog-hero-image {\n        position: relative;\n        border-radius: 12px;\n        overflow: hidden;\n        box-shadow: 0 15px 40px rgba(0,0,0,0.3);\n    }\n    .blog-hero-image img {\n        width: 100%;\n        height: 350px;\n        object-fit: cover;\n    }\n    .blog-hero-content {\n        color: #fff;\n    }\n    .category-badge {\n        display: inline-block;\n        background: #f59e0b;\n        color: #000;\n        padding: 0.4rem 0.8rem;\n        border-radius: 50px;\n        font-size: 0.8rem;\n        font-weight: 600;\n        text-transform: uppercase;\n        margin-bottom: 1rem;\n    }\n    .hero-title {\n        font-size: 2.2rem;\n        font-weight: 800;\n        line-height: 1.2;\n        margin-bottom: 1rem;\n        color: #fff;\n    }\n    .hero-hook {\n        font-size: 1.1rem;\n        line-height: 1.6;\n        color: rgba(255,255,255,0.9);\n        margin-bottom: 0.8rem;\n    }\n    .hero-value {\n        font-size: 1rem;\n        line-height: 1.6;\n        color: rgba(255,255,255,0.7);\n        margin-bottom: 1.5rem;\n    }\n    .hero-meta {\n        display: flex;\n        gap: 1rem;\n        color: rgba(255,255,255,0.6);\n        font-size: 0.9rem;\n    }\n    @media (max-width: 768px) {\n        .blog-hero-grid { grid-template-columns: 1fr; }\n        .hero-title { font-size: 1.8rem; }\n    }\n\n    /* Modulos de Interes */\n    .interest-module {\n        margin: 2rem 0;\n        padding: 1.5rem;\n        border-radius: 12px;\n        display: flex;\n        gap: 1rem;\n        align-items: flex-start;\n    }\n    .stat-module {\n        background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n        border-left: 4px solid #f59e0b;\n    }\n    .stat-number {\n        font-size: 2.5rem;\n        font-weight: 800;\n        color: #b45309;\n        line-height: 1;\n    }\n    .stat-content h4 {\n        margin: 0 0 0.5rem;\n        color: #92400e;\n    }\n    .stat-content p {\n        margin: 0;\n        color: #78350f;\n    }\n    .tip-module {\n        background: linear-gradient(135deg, #dbeafe 0%, #bfdbfe 100%);\n        border-left: 4px solid #3b82f6;\n    }\n    .tip-icon {\n        font-size: 2rem;\n    }\n    .tip-content h4 {\n        margin: 0 0 0.5rem;\n        color: #1e40af;\n    }\n    .tip-content p {\n        margin: 0;\n        color: #1e3a8a;\n    }\n    .alert-module {\n        background: linear-gradient(135deg, #fee2e2 0%, #fecaca 100%);\n        border-left: 4px solid #ef4444;\n    }\n    .alert-icon {\n        font-size: 2rem;\n    }\n    .alert-content h4 {\n        margin: 0 0 0.5rem;\n        color: #b91c1c;\n    }\n    .alert-content p {\n        margin: 0;\n        color: #991b1b;\n    }\n    .quote-module {\n        background: linear-gradient(135deg, #f3f4f6 0%, #e5e7eb 100%);\n        border-left: 4px solid #6b7280;\n        flex-direction: column;\n    }\n    .quote-module blockquote {\n        font-size: 1.2rem;\n        font-style: italic;\n        color: #374151;\n        margin: 0;\n        line-height: 1.6;\n    }\n    .quote-module cite {\n        color: #6b7280;\n        font-size: 0.9rem;\n    }\n\n    /* Galeria */\n    .blog-image-gallery {\n        margin: 2rem 0;\n        padding: 1.5rem;\n        background: #f8fafc;\n        border-radius: 12px;\n    }\n    .blog-image-gallery h3 {\n        margin: 0 0 1rem;\n        color: #1f2937;\n    }\n    .gallery-grid {\n        display: grid;\n        grid-template-columns: repeat(2, 1fr);\n        gap: 1rem;\n    }\n    .gallery-item {\n        margin: 0;\n        border-radius: 8px;\n        overflow: hidden;\n        background: #fff;\n        box-shadow: 0 2px 8px rgba(0,0,0,0.08);\n    }\n    .gallery-item img {\n        width: 100%;\n        height: 160px;\n        object-fit: cover;\n    }\n    .gallery-caption {\n        padding: 0.8rem;\n    }\n    .gallery-caption strong {\n        display: block;\n        font-size: 0.9rem;\n        color: #1f2937;\n    }\n    .gallery-caption span {\n        font-size: 0.8rem;\n        color: #6b7280;\n    }\n    @media (max-width: 640px) {\n        .gallery-grid { grid-template-columns: 1fr; }\n    }\n\n    /* FAQ Accordion */\n    .faq-section {\n        margin: 2rem 0;\n    }\n    .faq-item {\n        border: 1px solid #e5e7eb;\n        border-radius: 8px;\n        margin-bottom: 0.8rem;\n        overflow: hidden;\n    }\n    .faq-question {\n        width: 100%;\n        background: #fff;\n        border: none;\n        padding: 1rem 1.2rem;\n        text-align: left;\n        font-size: 1rem;\n        font-weight: 600;\n        color: #1f2937;\n        cursor: pointer;\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        transition: background 0.2s;\n    }\n    .faq-question:hover {\n        background: #f9fafb;\n    }\n    .faq-question span {\n        flex: 1;\n        padding-right: 1rem;\n    }\n    .faq-chevron {\n        transition: transform 0.3s;\n        color: #6b7280;\n    }\n    .faq-question[aria-expanded=\"true\"] .faq-chevron {\n        transform: rotate(180deg);\n        color: #f59e0b;\n    }\n    .faq-answer {\n        max-height: 0;\n        overflow: hidden;\n        transition: max-height 0.3s ease;\n        background: #fafafa;\n    }\n    .faq-answer p {\n        padding: 1rem 1.2rem;\n        margin: 0;\n        color: #4b5563;\n        line-height: 1.6;\n    }\n    </style>\n</head>\n<body>\n  <header class=\"header\" id=\"header\">\n    <div class=\"container\">\n      <nav class=\"navbar\">\n        <div class=\"logo\">\n          <a href=\"/\" aria-label=\"Paginas Amarillas Mexico - Inicio\">\n            <span class=\"logo-text\">Paginas<span class=\"logo-highlight\">Amarillas</span>.mx</span>\n          </a>\n        </div>\n        <button class=\"menu-toggle\" id=\"menuToggle\" aria-label=\"Abrir menu\" aria-expanded=\"false\">\n          <span class=\"hamburger\"></span>\n        </button>\n        <div class=\"nav-menu\" id=\"navMenu\">\n          <ul class=\"nav-list\">\n            <li><a href=\"/\">Inicio</a></li>\n            <li><a href=\"/categorias.html\">Categorias</a></li>\n            <li><a href=\"/blog/\">Blog</a></li>\n          </ul>\n          <div class=\"nav-actions\">\n            <a href=\"#login\" class=\"btn btn-ghost\">Iniciar Sesion</a>\n            <a href=\"#registrar\" class=\"btn btn-primary\">Registrar Negocio</a>\n          </div>\n        </div>\n      </nav>\n    </div>\n  </header>\n\n    <!-- BREADCRUMBS -->\n    <section class=\"breadcrumbs\">\n        <div class=\"container\">\n            <nav aria-label=\"Breadcrumb\">\n                <ol class=\"breadcrumb-list\">\n                    <li><a href=\"/\">Inicio</a></li>\n                    <li><a href=\"../index.html\">Blog</a></li>\n                    <li><a href=\"../categorias/seguridad-privada.html\">${a.categoriaNombre}</a></li>\n                    <li aria-current=\"page\">${a.titulo}</li>\n                </ol>\n            </nav>\n        </div>\n    </section>\n\n    <!-- HERO DE DOS COLUMNAS -->\n    <section class=\"blog-hero-section\">\n        <div class=\"container\">\n            <div class=\"blog-hero-grid\">\n                <div class=\"blog-hero-image\">\n                    <img src=\"${ruta}${img.principal}\" alt=\"${a.altImagenPrincipal}\" loading=\"eager\">\n                </div>\n                <div class=\"blog-hero-content\">\n                    <span class=\"category-badge\">${a.categoriaNombre}</span>\n                    <h1 class=\"hero-title\">${a.titulo}</h1>\n                    <p class=\"hero-hook\">${a.heroHook}</p>\n                    <p class=\"hero-value\">${a.heroValue}</p>\n                    <div class=\"hero-meta\">\n                        <span>\n                            <svg width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" style=\"vertical-align: middle; margin-right: 4px;\">\n                                <circle cx=\"12\" cy=\"12\" r=\"10\"/>\n                                <polyline points=\"12 6 12 12 16 14\"/>\n                            </svg>\n                            ${a.tiempoLectura} min lectura\n                        </span>\n                        <span>|</span>\n                        <span>${a.categoriaNombre}</span>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <main class=\"container\">\n        <div class=\"blog-article-layout\">\n            <article class=\"blog-article\">\n\n            <nav class=\"blog-article-toc-inline\">\n                <h4>En este articulo</h4>\n                <ul>\n${tocHTML}\n                </ul>\n            </nav>\n\n            <div class=\"blog-article-content\">\n                ${a.contenido}\n            </div>\n\n            <!-- SECCION FAQ -->\n            <section class=\"faq-section\" id=\"preguntas-frecuentes\">\n                <h2>Preguntas Frecuentes</h2>\n                <p>Respondemos las dudas mas comunes sobre ${empresa.nombre}.</p>\n                <div class=\"faq-accordion\">\n${faqHTML}\n                </div>\n            </section>\n\n            <div class=\"blog-article-tags\">\n                <h3>Temas relacionados:</h3>\n                <div class=\"tags-container\">\n                    <a href=\"../categorias/seguridad-privada.html\" class=\"tag\">Seguridad Privada</a>\n                    <a href=\"#\" class=\"tag\">CNSP</a>\n                    <a href=\"#\" class=\"tag\">Vigilancia</a>\n                    <a href=\"#\" class=\"tag\">Proteccion Empresarial</a>\n                </div>\n            </div>\n\n            <!-- CTA FINAL -->\n            <div class=\"article-cta-final\" style=\"background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); padding: 2rem; border-radius: 12px; color: #fff; text-align: center; margin: 2rem 0;\">\n                <h3 style=\"margin: 0 0 0.5rem; color: #fff;\">¿Listo para Proteger tu Patrimonio?</h3>\n                <p style=\"margin: 0 0 1.5rem; color: rgba(255,255,255,0.8);\">Encuentra las mejores empresas de seguridad privada certificadas en Mexico.</p>\n                <a href=\"../categorias/seguridad-privada.html\" style=\"display: inline-block; background: #f59e0b; color: #000; padding: 0.8rem 1.5rem; border-radius: 8px; font-weight: 600; text-decoration: none;\">Ver Directorio de Empresas</a>\n            </div>\n\n            <div class=\"blog-related-articles\">\n                <h3>Articulos Relacionados</h3>\n                <div class=\"blog-cards-grid\">\n                    <article class=\"blog-card\">\n                        <div class=\"blog-card-image\">\n                            <img src=\"../../img/img-seguridad-privada/centro-monitoreo-camaras.webp\" alt=\"Sistemas CCTV\">\n                        </div>\n                        <div class=\"blog-card-content\">\n                            <h3 class=\"blog-card-title\">\n                                <a href=\"guia-completa-seguridad-privada-mexico.html\">Guia Completa de Seguridad Privada</a>\n                            </h3>\n                            <p class=\"blog-card-excerpt\">Todo lo que necesitas saber sobre seguridad privada en Mexico.</p>\n                        </div>\n                    </article>\n                    <article class=\"blog-card\">\n                        <div class=\"blog-card-image\">\n                            <img src=\"../../img/img-seguridad-privada/guardia-caseta-residencial.webp\" alt=\"Seguridad condominios\">\n                        </div>\n                        <div class=\"blog-card-content\">\n                            <h3 class=\"blog-card-title\">\n                                <a href=\"ia-seguridad-tecnologias-emergentes.html\">IA y Tecnologias Emergentes</a>\n                            </h3>\n                            <p class=\"blog-card-excerpt\">Como la tecnologia esta transformando la seguridad privada.</p>\n                        </div>\n                    </article>\n                </div>\n            </div>\n        </article>\n\n        <aside class=\"blog-article-sidebar\">\n            <div class=\"blog-toc\">\n                <h3 class=\"blog-toc-title\">\n                    <svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                        <line x1=\"8\" y1=\"6\" x2=\"21\" y2=\"6\"></line>\n                        <line x1=\"8\" y1=\"12\" x2=\"21\" y2=\"12\"></line>\n                        <line x1=\"8\" y1=\"18\" x2=\"21\" y2=\"18\"></line>\n                        <line x1=\"3\" y1=\"6\" x2=\"3.01\" y2=\"6\"></line>\n                        <line x1=\"3\" y1=\"12\" x2=\"3.01\" y2=\"12\"></line>\n                        <line x1=\"3\" y1=\"18\" x2=\"3.01\" y2=\"18\"></line>\n                    </svg>\n                    En este articulo\n                </h3>\n                <ul class=\"blog-toc-list\">\n${tocHTML}\n                </ul>\n            </div>\n\n            <div class=\"blog-cta-box\">\n                <h3>¿Buscas Seguridad Privada?</h3>\n                <p>Encuentra las mejores empresas certificadas en nuestro directorio</p>\n                <a href=\"../categorias/seguridad-privada.html\" class=\"btn\">Ver Empresas</a>\n            </div>\n\n            <div class=\"blog-widget\">\n                <h3 class=\"blog-widget-title\">Empresas Destacadas</h3>\n                <div class=\"blog-popular-posts\">\n                    <article class=\"blog-popular-post\">\n                        <a href=\"../../negocios/seguridad-privada/origins-private-security.html\" class=\"blog-popular-thumb\">\n                            <img src=\"../../img/img-seguridad-privada/equipo-seguridad-corporativo.webp\" alt=\"Origins Security\">\n                        </a>\n                        <div class=\"blog-popular-content\">\n                            <h4 class=\"blog-popular-title\">\n                                <a href=\"../../negocios/seguridad-privada/origins-private-security.html\">ORIGINS Private Security</a>\n                            </h4>\n                        </div>\n                    </article>\n                    <article class=\"blog-popular-post\">\n                        <a href=\"../../negocios/seguridad-privada/seguridad-privada-mx.html\" class=\"blog-popular-thumb\">\n                            <img src=\"../../img/img-seguridad-privada/centro-monitoreo-camaras.webp\" alt=\"SeguridadPrivadaMX\">\n                        </a>\n                        <div class=\"blog-popular-content\">\n                            <h4 class=\"blog-popular-title\">\n                                <a href=\"../../negocios/seguridad-privada/seguridad-privada-mx.html\">SeguridadPrivadaMX</a>\n                            </h4>\n                        </div>\n                    </article>\n                    <article class=\"blog-popular-post\">\n                        <a href=\"../../negocios/seguridad-privada/sepri.html\" class=\"blog-popular-thumb\">\n                            <img src=\"../../img/img-seguridad-privada/grupo-guardias-edificio.webp\" alt=\"SEPRI\">\n                        </a>\n                        <div class=\"blog-popular-content\">\n                            <h4 class=\"blog-popular-title\">\n                                <a href=\"../../negocios/seguridad-privada/sepri.html\">SEPRI</a>\n                            </h4>\n                        </div>\n                    </article>\n                </div>\n            </div>\n        </aside>\n    </div>\n    </main>\n\n  <footer class=\"footer\">\n    <div class=\"footer-main\">\n      <div class=\"container\">\n        <div class=\"footer-grid\">\n          <div class=\"footer-column footer-brand\">\n            <div class=\"footer-logo\">\n              <span class=\"logo-text\">Paginas<span class=\"logo-highlight\">Amarillas</span>.mx</span>\n            </div>\n            <p class=\"footer-text\">\n              El directorio empresarial mas completo de Mexico. Conectamos negocios con clientes desde 2025.\n            </p>\n            <div class=\"footer-contact-info\">\n              <div class=\"footer-contact-item\">\n                <svg width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                  <path d=\"M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z\"/>\n                </svg>\n                <a href=\"mailto:contacto@paginasamarillas.mx\">contacto@paginasamarillas.mx</a>\n              </div>\n            </div>\n          </div>\n          <div class=\"footer-column\">\n            <h4 class=\"footer-heading\">Categorias Populares</h4>\n            <ul class=\"footer-links\">\n              <li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li>\n              <li><a href=\"#restaurantes\">Restaurantes</a></li>\n              <li><a href=\"#hoteles\">Hoteles</a></li>\n              <li><a href=\"/categorias.html\">Ver todas</a></li>\n            </ul>\n          </div>\n          <div class=\"footer-column\">\n            <h4 class=\"footer-heading\">Ciudades</h4>\n            <ul class=\"footer-links\">\n              <li><a href=\"#cdmx\">Ciudad de Mexico</a></li>\n              <li><a href=\"#guadalajara\">Guadalajara</a></li>\n              <li><a href=\"#monterrey\">Monterrey</a></li>\n            </ul>\n          </div>\n          <div class=\"footer-column\">\n            <h4 class=\"footer-heading\">Ayuda</h4>\n            <ul class=\"footer-links\">\n              <li><a href=\"../index.html\">Blog</a></li>\n              <li><a href=\"#ayuda\">Centro de Ayuda</a></li>\n              <li><a href=\"#contacto\">Contacto</a></li>\n              <li><a href=\"../../sitemap.html\">Mapa del Sitio</a></li>\n            </ul>\n          </div>\n        </div>\n      </div>\n    </div>\n    <div class=\"footer-bottom\">\n      <div class=\"container\">\n        <div class=\"footer-bottom-content\">\n          <p class=\"copyright\">\n            &copy; 2025 PaginasAmarillas.mx. Todos los derechos reservados.\n          </p>\n          <div class=\"footer-badges\">\n            <span class=\"footer-badge\">Sitio Seguro</span>\n            <span class=\"footer-badge\">Hecho en Mexico</span>\n          </div>\n        </div>\n      </div>\n    </div>\n  </footer>\n\n  <script src=\"../../js/app.js\"></script>\n  <script>\n  // FAQ Accordion\n  document.addEventListener('DOMContentLoaded', function() {\n    const faqQuestions = document.querySelectorAll('.faq-question');\n    faqQuestions.forEach(function(question) {\n      question.addEventListener('click', function() {\n        const faqItem = this.parentElement;\n        const answer = faqItem.querySelector('.faq-answer');\n        const isExpanded = this.getAttribute('aria-expanded') === 'true';\n        faqQuestions.forEach(function(q) {\n          if (q !== question) {\n            q.setAttribute('aria-expanded', 'false');\n            q.parentElement.querySelector('.faq-answer').style.maxHeight = null;\n          }\n        });\n        if (isExpanded) {\n          this.setAttribute('aria-expanded', 'false');\n          answer.style.maxHeight = null;\n        } else {\n          this.setAttribute('aria-expanded', 'true');\n          answer.style.maxHeight = answer.scrollHeight + 'px';\n        }\n      });\n    });\n  });\n  </script>\n</body>\n</html>`;\n\nreturn {\n  html: htmlCompleto,\n  nombreArchivo: `${a.slug}.html`,\n  rutaArchivo: `blog/seguridad-privada/${a.slug}.html`,\n  titulo: a.titulo,\n  extractoBlog: a.extractoBlog,\n  metaDescripcion: a.metaDescripcion,\n  tiempoLectura: a.tiempoLectura,\n  imagenes: img,\n  imagenPrincipal: `${ruta}${img.principal}`,\n  imagenPrincipalAbsoluta: `${rutaAbs}${img.principal}`,\n  slug: a.slug,\n  categoria: a.categoria,\n  categoriaNombre: a.categoriaNombre,\n  empresaNombre: empresa.nombre,\n  urlPerfilEmpresa: `https://paginasamarillas.mx/negocios/seguridad-privada/${empresa.slug}.html`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 32],
      "id": "4b82d235-0589-43e9-8456-a501f06f4fcd",
      "name": "Construir HTML Profesional"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "Origenlab",
        "repository": "PAGINASAMARILLAS",
        "filePath": "={{ $json.rutaArchivo }}",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "=feat(blog): {{ $json.empresaNombre }} - {{ $json.titulo }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [-368, 32],
      "id": "4821da14-f696-41ba-90c8-d3face8ff1e1",
      "name": "GitHub - Subir Articulo",
      "webhookId": "27d0a5fd-1389-4538-bfe4-a9d1bfc972ed",
      "credentials": {
        "githubApi": {
          "id": "NFw8kpUQfQRbzSHR",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datosArticulo = $('Construir HTML Profesional').first().json;\nconst githubResponse = $input.first().json;\n\n// Extraer nombre de imagen de la ruta absoluta\nconst imagenNombre = datosArticulo.imagenes.principal;\n\nreturn {\n  exito: true,\n  mensaje: 'Articulo publicado exitosamente',\n  detalles: {\n    empresa: datosArticulo.empresaNombre,\n    titulo: datosArticulo.titulo,\n    urlArticulo: `https://paginasamarillas.mx/${datosArticulo.rutaArchivo}`,\n    urlPerfil: datosArticulo.urlPerfilEmpresa,\n    imagenNombre: imagenNombre,\n    tiempoLectura: datosArticulo.tiempoLectura,\n    categoria: datosArticulo.categoriaNombre,\n    extractoBlog: datosArticulo.extractoBlog,\n    commitSha: githubResponse.commit?.sha || 'N/A',\n    slug: datosArticulo.slug\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-144, 32],
      "id": "4310c074-2b7a-4911-ae11-aee1cc9769aa",
      "name": "Resumen y Codigo para blog.html"
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "=✅ *Articulo Publicado y Card Agregada*\n\n🏢 *Empresa:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.empresa }}\n📝 *Titulo:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.titulo }}\n\n📂 *Categoria:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.categoria }}\n⏱ *Lectura:* {{ $('Resumen y Codigo para blog.html').item.json.detalles.tiempoLectura }} min\n\n🔗 *URL Articulo:*\n{{ $('Resumen y Codigo para blog.html').item.json.detalles.urlArticulo }}\n\n✅ *Card agregada al INICIO del blog grid*\n\n✨ *El articulo incluye:*\n• Hero de dos columnas\n• Modulos de interes interactivos\n• FAQ Accordion con Schema.org\n• CTAs optimizados\n• Card con diseno profesional\n\n🤖 _Paginas Amarillas Blog Generator PRO_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [752, 32],
      "id": "535ec0a9-45a4-480b-a535-5f02cf205146",
      "name": "Telegram - Notificar Publicacion",
      "webhookId": "5601dce9-d134-4fa1-a354-02934607118f",
      "credentials": {
        "telegramApi": {
          "id": "c4dCbuRFOO8qk8oI",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn {\n  exito: false,\n  mensaje: 'Error en la generacion del articulo',\n  error: error.error || 'Error desconocido',\n  respuestaOriginal: error.respuestaOriginal || null,\n  timestamp: new Date().toISOString(),\n  recomendacion: 'Revisa los logs y vuelve a ejecutar el workflow manualmente'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 256],
      "id": "b2f78c40-307f-4097-bd6b-eeaddac1a0ca",
      "name": "Manejar Error"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/Origenlab/PAGINASAMARILLAS/main/blog/index.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 32],
      "id": "github-get-blog-index",
      "name": "GitHub - Obtener Blog Index"
    },
    {
      "parameters": {
        "jsCode": "const datosResumen = $('Resumen y Codigo para blog.html').first().json;\nconst githubResponse = $input.first().json;\n\nconst blogIndexHTML = githubResponse.data || githubResponse.body || '';\nif (typeof blogIndexHTML !== 'string' || blogIndexHTML.length < 100) {\n  throw new Error('No se obtuvo blog/index.html. Keys: ' + JSON.stringify(Object.keys(githubResponse)));\n}\n\nconst d = datosResumen.detalles;\nconst urlArticulo = '/blog/seguridad-privada/' + d.slug + '.html';\nconst urlImagen = '/img/img-seguridad-privada/' + d.imagenNombre;\n\n// Card HTML profesional - coincide exactamente con el diseno del sitio\nconst nuevaCard = `\n              <!-- n8n:AUTO ${d.empresa} -->\n              <article class=\"blog-card\">\n                <a href=\"${urlArticulo}\" class=\"blog-card-image\">\n                  <img src=\"${urlImagen}\" alt=\"${d.titulo}\">\n                  <span class=\"blog-category-badge\">${d.categoria}</span>\n                </a>\n                <div class=\"blog-card-content\">\n                  <h3 class=\"blog-card-title\">\n                    <a href=\"${urlArticulo}\">${d.titulo}</a>\n                  </h3>\n                  <div class=\"blog-meta\">\n                    <span class=\"blog-reading-time\">\n                      <svg width=\"14\" height=\"14\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\">\n                        <circle cx=\"12\" cy=\"12\" r=\"10\"/>\n                        <polyline points=\"12 6 12 12 16 14\"/>\n                      </svg>\n                      ${d.tiempoLectura} min\n                    </span>\n                  </div>\n                  <p class=\"blog-card-excerpt\">\n                    ${d.extractoBlog}\n                  </p>\n                  <a href=\"${urlArticulo}\" class=\"btn btn-outline\">\n                    Leer articulo completo\n                  </a>\n                </div>\n              </article>\n`;\n\n// Insertar DESPUES del marcador START (nuevas cards aparecen primero)\nconst marcadorStart = '<div class=\"blog-grid\">';\nconst indiceStart = blogIndexHTML.indexOf(marcadorStart);\n\nlet blogIndexActualizado;\nif (indiceStart > 0) {\n  const posicionInsercion = indiceStart + marcadorStart.length;\n  blogIndexActualizado = blogIndexHTML.substring(0, posicionInsercion) + nuevaCard + blogIndexHTML.substring(posicionInsercion);\n} else {\n  throw new Error('No se encontro <div class=\"blog-grid\"> en blog/index.html');\n}\n\nreturn {\n  blogIndexActualizado: blogIndexActualizado,\n  detalles: datosResumen.detalles,\n  mensaje: 'Card insertada al inicio del grid'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [304, 32],
      "id": "insertar-card-code",
      "name": "Insertar Card en HTML"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "Origenlab",
        "repository": "PAGINASAMARILLAS",
        "filePath": "blog/index.html",
        "fileContent": "={{ $json.blogIndexActualizado }}",
        "commitMessage": "=feat(blog): agregar card {{ $json.detalles.empresa }} - {{ $json.detalles.titulo }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [528, 32],
      "id": "github-update-blog-index",
      "name": "GitHub - Actualizar Blog Index",
      "credentials": {
        "githubApi": {
          "id": "NFw8kpUQfQRbzSHR",
          "name": "GitHub account 2"
        }
      }
    }
  ],
  "connections": {
    "Cada 3 Dias": {
      "main": [
        [
          {
            "node": "Selector de Tema e Imagenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecucion Manual": {
      "main": [
        [
          {
            "node": "Selector de Tema e Imagenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selector de Tema e Imagenes": {
      "main": [
        [
          {
            "node": "Constructor de Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt": {
      "main": [
        [
          {
            "node": "ChatGPT - Generar Articulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT - Generar Articulo": {
      "main": [
        [
          {
            "node": "Validar y Procesar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Procesar Respuesta": {
      "main": [
        [
          {
            "node": "Articulo Valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Articulo Valido?": {
      "main": [
        [
          {
            "node": "Construir HTML Profesional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir HTML Profesional": {
      "main": [
        [
          {
            "node": "GitHub - Subir Articulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Subir Articulo": {
      "main": [
        [
          {
            "node": "Resumen y Codigo para blog.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen y Codigo para blog.html": {
      "main": [
        [
          {
            "node": "GitHub - Obtener Blog Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Obtener Blog Index": {
      "main": [
        [
          {
            "node": "Insertar Card en HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Card en HTML": {
      "main": [
        [
          {
            "node": "GitHub - Actualizar Blog Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Actualizar Blog Index": {
      "main": [
        [
          {
            "node": "Telegram - Notificar Publicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "paginas-amarillas-mx"
  }
}
